@import '~styles/variables';
.our-culture-container {
    background-color: $japaneseViolet;
    color: white;
    font-family: $fontFamilyPrimary;
    text-align: center;
    h1 {
        margin: 0 0 0.5rem 0;
    }
}
.title {
    padding: 3rem 0;
}

app-our-culture {
    display: block;
}
app-our-culture-desktop {
    display: none;
}

@media (min-width: 1024px) {
    app-our-culture {
        display: none;
    }
    app-our-culture-desktop {
        display: block;
    }
}
