@import '~styles/variables';
.our-culture-container {
    background-color: $ciberGrape;

    color: $white;
    font-family: $fontFamilyPrimary;
    text-align: center;
    h1 {
        margin: 0 0 0.5rem 0;
    }
    &:before {
      content: '';
      display: block;
      position: relative;
      top: 0;
      left: 0;
      height: 4px;
      // width: 100vw; fix for firefox
      background: linear-gradient(60deg, $fandango, $brightLilac, $mediumSlateBlue, $turquoiseBlue);
    }
}
.title {
    padding: 3rem 0;
    @media (min-width: 1024px) {
        padding: 7rem 0;
    }
}

app-our-culture {
    display: block;
}
app-our-culture-desktop {
    display: none;
}

@media (min-width: 1024px) {
    app-our-culture {
        display: none;
    }
    app-our-culture-desktop {
        display: block;
    }
}
.type-of-device {
    background-image: url('/../../assets/images/estrellas-skyline.svg');
    @media (min-width: 1024px) {
        background-position: center;
        background-repeat: no-repeat;
    }

}
