<div class="technologies-section">
  <section class="technologies">
    <div class="title">
      <h1>TECHNOLOGIES</h1>
      <app-colorful-dots></app-colorful-dots>
      <ul class="technologies-icons">
        <li><i class="icon-ANGULAR"></i>ANGULAR</li>
        <li><i class="icon-BOOTSTRAP"></i>BOOTSTRAP</li>
        <li><i class="icon-HTML"></i>HTML</li>
        <li><i class="icon-JAVA-SCRIPT"></i>JAVASCRIPT</li>
        <li><i class="icon-PHYTON"></i>PHYTON</li>
        <li><i class="icon-PHP"></i>PHP</li>
        <li class="show-desktop show-tablet"><i class="icon-C"></i>C#</li>
        <li class="show-desktop show-tablet"><i class="icon-Cplus"></i>C++</li>
        <li class="show-desktop show-tablet"><i class="icon-IONIC"></i>IONIC</li>
        <li class="show-desktop show-tablet"><i class="icon-JQUERY"></i>JQUERY</li>
        <li class="show-desktop"><i class="icon-MICROSOFT"></i>.NET</li>
        <li class="show-desktop"><i class="icon-REACT"></i>Rx JS</li>
        <li class="show-desktop"><i class="icon-SWIFT"></i>SWIFT</li>
        <li class="show-desktop"><i class="icon-KOTLIN"></i>KOTLIN</li>
        <li class="show-desktop"><i class="icon-NODE"></i>NODE JS</li>
      </ul>
    </div>
  </section>  
</div>
