<div class="technologies-section">
  <section class="technologies">
    <div class="title">
      <h1>TECHNOLOGIES</h1>
      <div class="load-dot-container">
        <div class="dot load-dot-1"></div>
        <div class="dot load-dot-2"></div>
        <div class="dot load-dot-3"></div>
        <div class="dot load-dot-4"></div>
      </div>
    </div>
  </section>
  <section class="who-we-are">
    <div class="title">
      <h1>WHO WE ARE</h1>
      <div class="load-dot-container">
        <div class="dot load-dot-1"></div>
        <div class="dot load-dot-2"></div>
        <div class="dot load-dot-3"></div>
        <div class="dot load-dot-4"></div>
      </div>
    </div>
    <div class="who-we-are-description">
      <p>Yuxi Global (called Yuxi Pacific at the time) was founded in 2005 in Pennsylvania, USA, by the entre- preneur Michael Puscar. In 2011 we opened a small office in Medellín, Colombia for research & deve- lopment and were surprised by the quality of the local talent. Our sales and employee numbers began doubling each year and since all our operations were moved to Medellín.
In 2013 the company was acquired by Blue Loop Capital, an investment firm from USA owned by a single stakeholder, the serial entrepreneur, inventor, and investor Kent Savage. In 2016 we rebranded ourselves as Yuxi Global, adopting a more modern image which reflects the maturity we’ve reached and our capability of tackling challenges from all over the world.</p>
    </div>
    <div class="service-button-wrapper">
      <app-button type="secondary" size="small">
        Learn more
      </app-button>
    </div>
  </section>
</div>
