<div class="technologies-section">
  <section class="technologies">
    <div class="title">
      <h1>TECHNOLOGIES</h1>
      <app-colorful-dots></app-colorful-dots>
      <div class="technologies-icons">
        <div class="icon-ANGULAR"></div>
        <div class="icon-BOOTSTRAP"></div>
        <div class="icon-HTML"></div>
        <div class="icon-JAVA-SCRIPT"></div>
        <div class="icon-PHYTON"></div>
        <div class="icon-PHP"></div> 
        
        <div class="show-desktop icon-C"></div>
        <div class="show-desktop icon-C++"></div>
        <div class="show-desktop icon-IONIC"></div>
        <div class="show-desktop icon-JQUERY"></div>
        <div class="show-desktop icon-MICROSOFT"></div>
        <div class="show-desktop icon-REACT"></div>
        <div class="show-desktop icon-SWIFT"></div> 
        <div class="show-desktop icon-KOTLIN"></div>  
        
        <div class="show-desktop"><span class="icon-NODE"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span><span class="path7"></span><span class="path8"></span><span class="path9"></span><span class="path10"></span><span class="path11"></span><span class="path12"></span><span class="path13"></span><span class="path14"></span><span class="path15"></span></span></div>
      </div>      
    </div>
  </section>
  <section class="who-we-are">
    <div class="title">
      <h1>WHO WE ARE</h1>
      <app-colorful-dots></app-colorful-dots>
    </div>
    <div class="who-we-are-description">
      <p id="text-description">Yuxi Global (called Yuxi Pacific at the time) was founded in 2005 in Pennsylvania, USA, by the entre- preneur Michael
        Puscar. In 2011 we opened a small office in Medellín, Colombia for research & deve- lopment and were surprised by
        the quality of the local talent. Our sales and employee numbers began doubling each year and since all our operations
        were moved to Medellín.
      </p>
      <p>In 2013 the company was acquired by Blue Loop Capital, an investment firm from USA owned by a single stakeholder, the
        serial entrepreneur, inventor, and investor Kent Savage. In 2016 we rebranded ourselves as Yuxi Global, adopting
        a more modern image which reflects the maturity we’ve reached and our capability of tackling challenges from all
        over the world.</p>
    </div>
    <div class="service-button-wrapper">
      <app-button type="secondary" size="small">
        Learn more
      </app-button>
    </div>
  </section>
</div>