<?xml version="1.0"?>
<configuration>
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <add name="Surrogate-Key" value="yuxi-web" />
      </customHeaders>
    </httpProtocol>
    <modules>
      <add name="LanguageBasedRedirectHttpModule" type="Yuxi.HttpModules.LanguageBasedRedirectHttpModule" />
    </modules>
  </system.webServer>
</configuration> 