<nav class="menu">
  <ul>
    <li>HOME</li>
    <li>SERVICES</li>
    <li>CAREERS</li>
    <li>MEDIA</li>
    <li>CONTACT</li>
  </ul>
  <div class="languages">
    <p>English</p>
    <p>Español</p>
  </div>
  <nav class="media-items">
    <a href="#"><img class="media-icon" src="assets/icons/twitter.svg"></a>
    <a href="#"><img class="media-icon" src="assets/icons/linkedin.svg"></a>
    <a href="#"><img class="media-icon" src="assets/icons/facebook.svg"></a>
    <a href="#"><img class="media-icon" src="assets/icons/instagram.svg"></a>
  </nav>  
  
</nav>
<div class="info-site">
  <a clas href="mailto:example@tutorialspark.com">email@yuxiglobal.com</a>
  <a href="tel:+6494461709">Phone: (+574) 000 00 00</a>
</div>
