<nav class="menu">
  <ul>
    <li routerLink="/home">HOME</li>
    <li routerLink="/services">SERVICES</li>
    <li routerLink="/careers">CAREERS</li>
    <li>MEDIA</li>
    <li routerLink="/contact">CONTACT</li>
  </ul>
  <div class="languages">
    <p>English</p>
    <p>Español</p>
  </div>
  <nav class="media-items">
    <a target="_blank" href="https://twitter.com/YuxiGlobal">
      <i class="icon-twitter"></i>
    </a>
    <a target="_blank" href="https://co.linkedin.com/company/yuxi-pacific">
      <i class="icon-linkedin"></i>
    </a>
    <a target="_blank" href="https://www.facebook.com/yuxiglobal1">
      <i class="icon-facebook"></i>
    </a>
    <a target="_blank" href="https://www.instagram.com/yuxiglobal/">
      <i class="icon-instagram"></i>
    </a>
  </nav>

</nav>

