<nav class="menu">
  <ul>
    <li routerLink="/home" i18n="home link|home link@@HomeLink">HOME</li>
    <li routerLink="/services" i18n="Services link|Services link@@ServicesLink">SERVICES</li>
    <li routerLink="/careers" i18n="Careers link|Careers link@@CareersLink">CAREERS</li>
    <li i18n="Media link|Media link@@MediaLink">MEDIA</li>
    <li routerLink="/contact" i18n="Contact link|Contact link@@ContactLink">CONTACT</li>
  </ul>
  <div class="languages">
    <p>English</p>
    <p>Español</p>
  </div>
  <nav class="media-items">
    <a target="_blank" href="https://twitter.com/YuxiGlobal">
      <i class="icon-twitter"></i>
    </a>
    <a target="_blank" href="https://co.linkedin.com/company/yuxi-pacific">
      <i class="icon-linkedin"></i>
    </a>
    <a target="_blank" href="https://www.facebook.com/yuxiglobal1">
      <i class="icon-facebook"></i>
    </a>
    <a target="_blank" href="https://www.instagram.com/yuxiglobal/">
      <i class="icon-instagram"></i>
    </a>
  </nav>

</nav>

