<div class="services-page">
    <app-services-intro></app-services-intro>
    <app-services-items></app-services-items>
    <app-programming-languages></app-programming-languages>
    <app-services-advantages class="cybergrape-bg"></app-services-advantages>
    <app-who-we-are></app-who-we-are>
    <app-skyline></app-skyline>
    <app-footer (switchOverlay)="openOverlay()"></app-footer>
</div>
<app-get-in-touch
  [class.active]="showOverlay"
  (toggleGetInTouchOverlay)="closeOverlay()"
></app-get-in-touch>
