<mat-tab-group>
  <mat-tab label="BUSSINES">
    <div class="tab-container">
      <div class="form-container">
        <app-business-form></app-business-form>
      </div>
      <div class="contact-information">
        <div class="wrapper">
          <h3>Contact<br> Information</h3>
          <p>Cra 48 # 20-34. Of. 1012 – 1014.</p>
          <p>Centro empresarial Ciudad del Río.</p>
          <p>Medellín, Antioquia.</p>
          <p>(+57) (4) 604 81 13</p>
          <a href="business@yuxiglobal.com" target="_top">business@yuxiglobal.com</a>
          <h3>Follow us</h3>
          <nav class="media-items">
            <a target="_blank" href="https://twitter.com/YuxiGlobal">
              <i class="icon-twitter"></i>
            </a>
            <a target="_blank" href="https://co.linkedin.com/company/yuxi-pacific">
              <i class="icon-linkedin"></i>
            </a>
            <a target="_blank" href="https://www.facebook.com/yuxiglobal1">
              <i class="icon-facebook"></i>
            </a>
            <a target="_blank" href="https://www.instagram.com/yuxiglobal/">
              <i class="icon-instagram"></i>
            </a>
          </nav>
        </div>

      </div>
    </div>
  </mat-tab>
  <mat-tab label="GENERAL">
    <div class="tab-container">
      <div class="form-container">
        <app-general-form></app-general-form>
      </div>
      <div class="contact-information">
        <div class="wrapper">
          <h3>Contact<br> Information</h3>
          <p>Cra 48 # 20-34. Of. 1012 – 1014.</p>
          <p>Centro empresarial Ciudad del Río.</p>
          <p>Medellín, Antioquia.</p>
          <p>(+57) (4) 604 81 13</p>
          <a href="info@yuxiglobal.com" target="_top">info@yuxiglobal.com</a>
          <h3>Follow us</h3>
          <nav class="media-items">
            <a target="_blank" href="https://twitter.com/YuxiGlobal">
              <i class="icon-twitter"></i>
            </a>
            <a target="_blank" href="https://co.linkedin.com/company/yuxi-pacific">
              <i class="icon-linkedin"></i>
            </a>
            <a target="_blank" href="https://www.facebook.com/yuxiglobal1">
              <i class="icon-facebook"></i>
            </a>
            <a target="_blank" href="https://www.instagram.com/yuxiglobal/">
              <i class="icon-instagram"></i>
            </a>
          </nav>
        </div>
      </div>
    </div>
  </mat-tab>
</mat-tab-group>