@import '~styles/variables';

.our-offices {
  background-color: $japaneseViolet;
  color: $white;
  font-family: $fontFamilyPrimary;

  h1 {
    margin: 0;
  }
}

.title {
  text-align: center;
}

.medellin {
   background: url("/../../assets/images/medellin.jpg");
   background-size: cover;
   width: 100%;
   height: 300px;
}
