<section class="our-offices">
  <div class="title">
     <h1>OUR OFFICES</h1>
     <app-colorful-dots></app-colorful-dots>
  </div>
  <div class="cities">
    <div class="medellin">
      <div class="image-medellin">
        <div class="open-info">
          <h2>MEDELLIN</h2>
          <p>COLOMBIA</p>
          <app-button type="secondary" size="small">
            Learn more
          </app-button>
        </div>
      </div>
      <div class="info-medellin">
        <p>loremdfsfsddfgfgggdfdgfdgfdgfdggfdgfdgdfg</p>
      </div>
    </div>
  </div>
</section>
