@import '~styles/variables';

.our-offices {
  background-color: $japaneseViolet;
  color: $white;
  font-family: $fontFamilyPrimary;
  &:before {
    content: '';
    display: block;
    position: relative;
    top: 0;
    left: 0;
    height: 4px;
    // width: 100vw; fix for firefox
    background: linear-gradient(60deg, $fandango, $brightLilac, $mediumSlateBlue, $turquoiseBlue);
  }

  h1 {
    margin: 0;
  }
}

.title {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
  @media (min-width: 1024px) {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}


