<header>
  <h3
     i18n="BUSINESS TITLE|business title@@BusinessTitle">
     BUSINESS
  </h3>
  <div class="underline"></div>
  <a href="business@yuxiglobal.com" target="_top">business@yuxiglobal.com</a>
</header>
<app-collapsible>
  <app-business-form [showCaptcha]="true"></app-business-form>
</app-collapsible>
<header>
  <h3
    i18n="General TITLE|General title@@GeneralTitle">
    GENERAL
  </h3>
  <div class="underline"></div>
  <a href="info@yuxiglobal.com" target="_top">info@yuxiglobal.com</a>
</header>
<app-collapsible>
  <app-general-form [showCaptcha]="true"></app-general-form>
</app-collapsible>
