<header>
  <h3>BUSSINES</h3>
  <div class="underline"></div>
  <a href="business@yuxiglobal.com" target="_top">business@yuxiglobal.com</a>
</header>
<app-collapsible>
  <app-business-form></app-business-form>
</app-collapsible>
<header>
  <h3>GENERAL</h3>
  <div class="underline"></div>
  <a href="info@yuxiglobal.com" target="_top">info@yuxiglobal.com</a>
</header>
<app-collapsible>
  <app-general-form></app-general-form>
</app-collapsible>
<header class="careers-link">
  <h3>CAREERS</h3>
  <p>Do you want to work with Yuxi?</p>
  <div class="underline"></div>
  <a href="jobs@yuxiglobal.com" target="_top">jobs@yuxiglobal.com</a>
</header>