@import '~styles/variables';
.careers-link {
  margin-bottom: 5rem;
  text-align: center;
  font-family: $fontFamilyPrimary;
  color: $white;
  a {
      font-family: $fontFamilySecondary;
      text-decoration: none;
      color: $white;
      @media (min-width: 1024px) {
        font-size: 1.17rem;
      } 
  }
  h3 {
      margin-bottom: 5px;
      @media (min-width: 1024px) {
        font-size: 2rem;
        margin-top: 0;
      }
  }

  p {
      font-family: $fontFamilySecondary;  
      @media (min-width: 1024px) {
        font-size: 1.17rem;
      } 
  }
  @media (min-width: 1024px) {
    padding-bottom: 5rem;
    margin-bottom: 0;
    background-color: $ciberGrape;
  }
  
 
}
.button-wrapper {
  max-width: 150px;
  margin-top: 1rem;
  margin-left: auto;
  margin-right: auto;
}

.underline {
  border-top: 1px solid $white;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5px;
  width: 30px;
}

header {
  color: $white;
  font-family: $fontFamilyPrimary;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
  @media (min-width: 1024px) {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  h1 {
    margin-bottom: 0.4rem;
  }
  p {
    font-family: $fontFamilySecondary;
    font-size: 1.17rem;
  }
}

app-forms-mobile {
  display: block;
}
app-forms-desktop {
  display: none;
}

@media (min-width: 1024px) {
  app-forms-mobile {
    display: none;
  }
  app-forms-desktop {
    display: block;
    background: linear-gradient(to top, $ciberGrape 53%, $japaneseViolet 53%);
  }
}
