@import '~styles/variables';
.form-contact {

}

header {
  color: $white;
  font-family: $fontFamilyPrimary;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
  @media (min-width: 1024px) {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}
