<section class="form-contact">
  <header>
    <h1>CONTACT</h1>
    <app-colorful-dots></app-colorful-dots>
    <p>What kind of help do you need?</p>
  </header>
  <div class="type-of-form">
    <!-- <app-forms-mobile *ngIf="false"></app-forms-mobile>
    <app-forms-desktop *ngIf="true"></app-forms-desktop> -->
    <app-forms-mobile></app-forms-mobile>
    <app-forms-desktop></app-forms-desktop>
  </div>
  <div class="careers-link">
    <h3>CAREERS</h3>
    <p>Do you want to work with Yuxi?</p>
    <div class="underline"></div>
    <a href="mailto:jobs@yuxiglobal.com">jobs@yuxiglobal.com</a>
    <div class="button-wrapper">
      <app-button type="button" routerLink="/careers" type="secondary" size="small">
        Go to careers
      </app-button>
    </div>
  </div>
</section>




