<div class="services-items">
    <div class="title">
      <h1>SERVICES</h1>      
      <app-colorful-dots></app-colorful-dots>
      <h3 class="secondary-text">Innovate with us</h3>
    </div>
    <div class="service-container">
      <div class="service-photo service-photo-staff photo-order"></div>
      <div class="card card-order">
        <img class="service-icon" src="assets/icons/services-staff.svg" alt="">        
        <h2>STAFF <br>AUGMENTATION</h2>
        <p id="text-staff">Innovation requires great minds working together. Our developers, quality analysts, and designers are ready to work with, complement, and boost our customers’ teams, letting them pursue more aggressive deadlines and overcome tricky obstacles.</p>
      </div>
    </div>
    <div class="service-container">
      <div class="service-photo service-photo-specilized"></div>
      <div class="card card-specialized">
          <img class="service-icon" src="assets/icons/specialized-services-page.svg" alt="">
          <h2>SPECIALIZED <br>SERVICES</h2>
          <p>Innovation is more than having a great software product. It requires you to constantly be on the lookout for new technologies, opportunities, and features to be implemented. Our teams can cover your R&D regarding:</p>
          <ul>
            <li>
              <img class="icono-flecha" src="assets/icons/ICONO_FLECHA.svg" alt="">
              <span>Mobile App Development.</span>
            </li>
            <li>
              <img class="icono-flecha" src="assets/icons/ICONO_FLECHA.svg" alt="">
              <span>Internet of Things.</span>
            </li>
            <li>
              <img class="icono-flecha" src="assets/icons/ICONO_FLECHA.svg" alt="">
              <span>Augmented Reality & Virtual Reality.</span>
            </li>
            <li>
              <img class="icono-flecha" src="assets/icons/ICONO_FLECHA.svg" alt="">
              <span>Big Data & Machine Learning.</span>
            </li>
          </ul>
      </div>
    </div>
    <div class="service-container">
      <div class="service-photo service-photo-product photo-order"></div>
      <div class="card card-order">
          <img class="service-icon" src="assets/icons/product-development-services.svg" alt="">
          <h2>PRODUCT <br>DEVELOPMENT</h2>
          <p>Innovation requires real problems to be solved with ingenious solutions. Perhaps your company knows what it wants to do but is unsure of how to do it. We specialize in helping companies achieve their digital transformation goals.</p>
          <p>After working for different industries we’ve deve- loped a series of software components that let us be agile and efficient. We’re also flexible regarding the Intellectual Property of these projects: we can work as a joint venture, or your company can keep the rights to what is developed.</p>
      </div>
    </div>
</div>
