<div class="services-items">
    <div class="title">
      <h1>SERVICES</h1>
      <div class="load-dot-container">
        <div class="dot load-dot-1"></div>
        <div class="dot load-dot-2"></div>
        <div class="dot load-dot-3"></div>
        <div class="dot load-dot-4"></div>
      </div>
    </div>
    <div class="service-container">
      <div class="service-photo service-photo-staff photo-order"></div>
      <div class="card card-order">
        <h2>STAFF AUGMENTATION</h2>
        <p>Innovation requires great minds working together. Our developers, quality analysts, and designers are ready to work with, complement, and boost our customers’ teams, letting them pursue more aggressive deadlines and overcome tricky obstacles.</p>
      </div>
    </div>
    <div class="service-container">
      <div class="service-photo service-photo-specilized"></div>
      <div class="card card-specialized"></div>
    </div>
    <div class="service-container">
      <div class="service-photo service-photo-product photo-order"></div>
      <div class="card card-order">hello</div>
    </div>
</div>
