<section class="services-items">
    <div class="title">
      <h1
        i18n="Services title|Services title@@ServicesTitle">
        SERVICES
      </h1>
      <app-colorful-dots></app-colorful-dots>
      <h3
        i18n="Services page subtitle|Services page subtitle@@ServicesPageSubtitle"
        class="secondary-text">
        Innovate with us
      </h3>
    </div>
    <div class="service-container">
      <div class="service-photo service-photo-staff photo-order">
        <div class="photo">
            <img src="/../../assets/images/staff-image.jpg" alt="">
        </div>
      </div>
      <div class="card card-order">
        <img class="service-icon" src="assets/icons/services-staff.svg" alt="">
        <h2
          i18n="staff augmentation title|services staff augmentation@@ServicesStaffAugmentationTitle">
          NEARSHORE <br>SERVICES
        </h2>
        <div class="underline"></div>
        <p
          i18n="staff augmentation subtitle|services staff augmentation@@ServicesStaffAugmentationSubtitle"
          id="text-staff"
          >Innovation requires great minds working together. Our developers, quality analysts and designers are ready to work, complement and boost our customers´teams; letting them pursue more aggressive deadlines and overcome complex obstacles.
        </p>
      </div>
    </div>
    <div class="service-container">
      <div class="service-photo service-photo-specilized">
          <div class="middle photo">
              <img src="/../../assets/images/specialized-services.jpg" alt="">
          </div>
      </div>
      <div class="card card-specialized">
          <img class="service-icon" src="assets/icons/specialized-services-page.svg" alt="">
          <h2 class="digital-solution-title"
            i18n="specialized services title|services specialized services@@ServicesSpecializedServicesTitle">
            DIGITAL <br>SOLUTIONS
          </h2>
          <div class="underline digital-solution-line"></div>
          <p class="digital-solution-description"
            i18n="specialized services subtitle|services specialized services@@ServicesSpecializedServicesSubtitle">
            Innovation requires real problems to be solved with ingenious solutions. Perhaps, your company knows what it wants to do, yet it is unsure how to do it. We are specialized in assisting companies to achieve their digital transformation goals. Our teams can cover your R&D with regard to:
          </p>
          <ul class="digital-solution-list">
            <li>
              <span class="list-dot"></span>
              <span
               i18n="@@MobileAppDevelopment">
                Mobile App Development.
              </span>
            </li>
            <li>
              <span class="list-dot"></span>
              <span
               i18n="@@InternetOfThings">
               Internet of Things.
              </span>
            </li>
            <li>
              <span class="list-dot"></span>
              <span i18n="@@AugmentedReality">
                Augmented & Virtual Reality.
              </span>
            </li>
            <li>
              <span class="list-dot"></span>
              <span
               i18n="@@Analitycs">
               Analytics & Machine Learning.
              </span>
            </li>
            <li>
              <span class="list-dot"></span>
              <span>Front-End.</span>
            </li>
          </ul>
      </div>
    </div>
    <div class="service-container">
      <div class="service-photo service-photo-product photo-order">
          <div class="photo">
              <img src="/../../assets/images/product-development.jpg" alt="">
          </div>
      </div>
      <div class="card card-order">
          <img class="service-icon" src="assets/icons/product-development-services.svg" alt="">
          <h2
           i18n="product development title|services product development@@ServicesProductDevelopmentTitle">
           PRODUCT <br>DEVELOPMENT
          </h2>
          <div class="underline"></div>
          <p
           i18n="product development subtitle1|services subtitle product development@@ServicesProductDevelopmentSubtitle1"
            class="text-product-development first">
            After working for different companies, we have developed a number of software components that allow us to be agile and efficient. 
          </p>
          <p
            i18n="product development subtitle2|services subtitle product development@@ServicesProductDevelopmentSubtitle2"
            class="text-product-development second">
            We are also flexible in regard to the intellectual property of these projects. We can work as a joint venture and your company can keep the rights of what has been developed.
          </p>
      </div>
    </div>
  </section>
