<section class="skyline" appIsVisible>
  <div class="stars" alt="">&nbsp;</div>
  <div class="stars2" alt="">&nbsp;</div>
  <div class="city">&nbsp;
    <div class="lamps">
      <img src="/../../assets/images/LAMPARA.svg" alt="">
      <img src="/../../assets/images/LAMPARA.svg" alt="">
    </div>
    <div class="lights">
      <img src="/../../assets/images/LUZ.svg" class="lampLight" alt="">
      <img src="/../../assets/images/LUZ.svg" class="lampLight" alt="">
      <img src="/../../assets/images/LUZ.svg" class="lampLight" alt="">
      <img src="/../../assets/images/LUZ.svg" class="lampLight" alt="">
    </div>
  </div>
  <div class="metro">
    <img src="/../../assets/images/METRO.svg" alt="" class="animated slideInLeft">
  </div>

  <!-- METRO CABLE ANIMATION -->
  <div class="metro-cable">
    <div class="cabinas cabina-01"></div>
    <div class="cabinas cabina-02"></div>
    <div class="cabinas cabina-03"></div>
    <div class="cabinas cabina-04"></div>
    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="30 20 326.1 136.27">
    <!-- METRO CABLE - CABLES-->
    <g id="Layer_1" transform="translate(0,-5)" data-name="Layer 2">
      <g id="Capa_1" data-name="Capa 1">
        <path class="cls" d="M277.5,136.27c-60.2,0-114.6-11.8-162.3-35.2a325,325,0,0,1-70.8-47.5A372.07,372.07,0,0,1,0,6.57l1-.9a370,370,0,0,0,44.3,46.8,321.81,321.81,0,0,0,70.5,47.2c31.1,15.3,65.3,25.7,101.8,31,42.5,6.2,89,5.5,138.3-2l.2,1.4A531.55,531.55,0,0,1,277.5,136.27Z"
        />
        <path class="cls2" d="M298.46,133.67a419.73,419.73,0,0,1-67.12-5.35A391.76,391.76,0,0,1,130.76,97.55a392.89,392.89,0,0,1-76.39-46.3A389.16,389.16,0,0,1,1.67,2V0A400.3,400.3,0,0,0,55.18,50a389.69,389.69,0,0,0,76.09,46.1C200,127.8,275.48,138.61,355.8,128.42l.2,1.44A431.25,431.25,0,0,1,298.46,133.67Z"
        />
      </g>
    </g>
    <!-- END/METRO CABLE - CABLES-->
    </svg>
  </div>
</section>
