<div class="fp-tableCell">
  <div class="home-banner">
    <div class="info-banner">
      <h1 class="banner-tittle">{{info.title | uppercase }}</h1>
      <div class="line"></div>
      <h2 class="banner-description">{{info.subtitle}}</h2>
      <div class="home-button-wrapper">
        <app-button
          type="primary"
          size="small"
        >
          Learn more
        </app-button>
      </div>
    </div>
    <div class="image-banner-container" [ngClass]="info.class">
        <img class="banner-image" [ngClass]="info.class" [src]="info.image"/>
        <video class="banner-video" autoplay loop [ngClass]="info.class">
          <source src="{{info.video}}" type="video/webm" />
        </video>
    </div>
  </div>
</div>
