@import '~styles/variables';
@import "~fullpage.js/dist/jquery.fullpage.css";
.home-banner {
  align-items: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  background: #2c1641;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-evenly;
  overflow: hidden;

  @media only screen and (orientation: landscape) {
    flex-direction: row;
    padding-top: 0;
    text-align: left;
    padding-left: 10%;
  }
  @media (min-width: 1024px) {
      padding-left: 14%;
  }
}

.info-banner {
  margin-top: 60px;
}

.banner-tittle {
  font-family: $fontFamilyPrimary;
  font-size: 2rem;
  color: $white;
  word-spacing: 100vw;
  line-height: 1;
  margin-bottom: 10px;
  margin-top: 0;
  @media (min-width: 768px) {
    font-size: 2rem;
  }
  @media (min-width: 1028px) {
    font-size: 4rem;
  }
}

.banner-description {
  font-family: $fontFamilySecondary;
  color: $white;
  font-weight: 400;
  font-size: 0.82rem;
  margin-left: 14%;
  margin-right: 14%;
  margin-top: 10px;
  @media only screen and (orientation: landscape) {
    margin-left: 0%;
    margin-right: 0%;
  }
  @media (min-width: 768px) {
    font-size: 1rem;
    margin-left: 30%;
    margin-right: 30%;
  }
  @media (min-width: 1024px) {
    margin-left: 0%;
    margin-right: 30%;
  }
}

.line {
  width: 45px;
  border-bottom: 2px solid $white;
  margin: auto;
  @media only screen and (orientation: landscape) {
    margin: 0;
  }
}

.home-button-wrapper {
  max-width: 150px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  @media only screen and (orientation: landscape) {
    margin-left: 0;
    margin-right: 0;
  }
}

.image-banner-container {
  animation-name: image-banner-container;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  max-width: 100%;
  max-height: 200px;

  @media only screen and (orientation: landscape) {
    margin-top: 0;
    min-width: 90vh;
    margin-right: 10px;
  }
  @media (min-width: 1024px) {
      min-width: 70%;
      margin-top: -40%;
      animation-name: none;
      @supports (-ms-accelerator:true) {
        min-width: 55%;
        margin-top: -57%;
      }
  }

  &.banner-image-3 {
    width: 70%;
    position: relative;
    right: 30px;
    @media (min-width: 1024px) and ( min-height: 900px ){
      margin-top: -18%;
      right: 0px;
      .fallbackImage {
        margin-top: -10%;
      }
    }
  }
}

.banner-image {
  width: 100%;
  position: relative;
  right: -30px;

  @media only screen and (orientation: landscape) {
    position: static;
    right: 0;
  }
  @media (min-width: 1028px) {
    display: none;
  }
}

.banner-video {
  display: none;
  @media only screen and (orientation: landscape) {
    display: none;
  }
  @media (min-width: 1028px) {
    display: block;
  }
}

@keyframes image-banner-container {
  from {
    transform: translate(0, 10px);
  }
  65% {
    transform: translate(0, 25px);
  }
  to {
    transform: translate(0, 10px);
  }
}

.fallbackImageHide {
  display: none;
}

@media (min-width: 1024px) {
  .banner-image-1 .fallbackImage img {
    margin-right: 10%;
    width: 82%;
    @supports (-ms-accelerator:true) {
      margin-right: 44%;
    }
  }
  .banner-image-3 .fallbackImage img {
    max-width: 80%;
  }
}


.fallbackImage {
  display: none;

  @media (min-width: 1024px) {
    animation-name: image-banner-container;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10%;
    img {
      height: auto;
      max-width: 100%;
    }
  }
}

.arrow-down {
  width: 2rem;
  height: 2rem;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 10%;
  margin-left: auto;
  margin-right: auto;
}
