@import '~styles/variables';
.collapsible-button {
    margin-top: 2rem;
    position: relative;
}
.container {
    padding-bottom: 30px;
}
.arrow {
    position: absolute;
    top: -1rem;
    left: calc(50% - 13px);
    height: 35px;
    width: 35px;
    border-radius: 50px;
    background-color: $turquoiseBlue;
    display: flex;
    justify-content: center;
    align-items: center;
    .material-icons {
        font-size: 35px;
    }
    
}
.form-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s linear; 
}
.toggle .form-content {
    max-height: 1000px;
}
.toggle .arrow  {
    transform: rotate(180deg);       
}