<div class="services-intro">
  <div *ngIf="play">
    <video class="short-video" autoplay loop>
      <source src="assets/videos/services_cover_video.mp4" type="video/mp4" />
    </video>
   <div class="video-cover">
    <div class="video-title">
      <h1
        i18n="love what we do title|love what we do@@LoveWhatWeDoTitle">
        WE LOVE<br> WHAT WE DO
      </h1>
    </div>
    <p
      i18n="love what we do subtitle|love what we do@@LoveWhatWeDoSubtitle"
      class="subtitle">
      PLAY IT ON TO WATCH
    </p>
    <button class="playServicesVideo" (click)="playVideo()">
      <img src="../../../assets/icons/ICONO_PLAY.svg" alt="">
    </button>
    <div class="arrow-down bounce">
      <img src="assets/icons/arrow-down.svg" />
    </div>
   </div>
  </div>
  <iframe
    *ngIf="!play"
    width="700"
    height="500"
    style="border:none"
    src="https://www.youtube.com/embed/81I44oXzr_U?rel=0&autoplay=1"
    allowfullscreen
  >
  </iframe>

</div>
