@import '~styles/variables';
.services-intro {
  // background: $japaneseViolet;
 }
.playServicesVideo {
  cursor: pointer;
}

 .video-cover {
  background: url('/../../assets/images/cover_image.jpg') no-repeat 0 0;
  height: 100vh;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.video-title {
  // height: 60px;
  // width: 208px;
  padding: 30px 26px;
  border-left: 5px solid  $brightLilac;
  border-right: 5px solid $turquoiseBlue;
  background-image: linear-gradient(90deg, $brightLilac, $brightLilac, $turquoiseBlue), linear-gradient(90deg, $brightLilac, $brightLilac, $turquoiseBlue);
  background-size: 100% 5px;
  background-position: 0 0, 0 100%;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  @media (min-width: 768px) {
    // height: 130px;
    // width: 350px;
  }

  h1 {
    color: $white;
    font-family: $fontFamilyPrimary;
    margin: 0;
    font-size: 1.5rem;
    line-height: 0.9;
    @media (min-width: 768px) {
      font-size: 3rem;
    }
  }
}

.subtitle {
  color: $white;
  font-family: $fontFamilySecondary;
  margin-top: 3rem;
}

button {
  border-style: none;
  background: transparent;

  img {
    width: 70px;
  }
}


iframe {
  height: 100vh;
  width: 100vw;
}

.short-video {
  display: none;
}
@media (min-width: 1024px) {
  .short-video {
    display: block;
    width: 100%;
  }
  .video-cover {
    position: absolute;
    background: transparent;
    top: 0%;
  }
}

.arrow-down {
  width: 2rem;
  height: 2rem;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 10%;
  margin-left: auto;
  margin-right: auto;
}
