<div class="container_service">
  <div class="service">
    <img src="assets/icons/staff_augmentation.svg" alt="">
    <h4 class="title">staff augmentation</h4>
    <h5 class="subtitle">Overcome challenges and deadlines with our specialized personnel.</h5>
    <div class="service-button-wrapper">
      <app-button type="button" routerLink="/services" type="secondary" size="small">
        Learn more
      </app-button>
    </div>
  </div>
</div>

<div class="container_service">
  <div class="service">
    <img src="assets/icons/specialized_projects.svg" alt="">
    <h4 class="title">specialized projects</h4>
    <h5 class="subtitle">R&D and prototyping in IoT, Mobile, AR/VR-Simulation and Big Data.</h5>
    <div class="service-button-wrapper">
      <app-button type="button" routerLink="/services" type="secondary" size="small">
        Learn more
      </app-button>
    </div>
  </div>
</div>

<div class="container_service">
  <div class="service">
    <img src="assets/icons/product_development.svg" alt="">
    <h4 class="title">product development</h4>
    <h5 class="subtitle">Short-cycle MVP’s for rapid market validation and feature implementation.</h5>
    <div class="service-button-wrapper">
      <app-button type="button" routerLink="/services" type="secondary" size="small">
        Learn more
      </app-button>
    </div>
  </div>
</div>
