@import '~styles/variables';
.service-button-wrapper {
  max-width: 150px;
  margin-left: auto;
  margin-right: auto;
}

.service {
  align-self: center;
  width: 100%;
  background: linear-gradient(60deg, $fandango, $ciberGrape);
  opacity: 0.3;
  height: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @media (min-width: 768px) {
    height: 60vw;
  }
  @media (min-width: 1024px) {
    padding-top: 50px;
    padding-bottom: 50px;
    height: inherit;
    flex-direction: row;
  }

  &:hover {
    opacity: 1;
    @media (min-width: 1024px) {
      transform: scale(1.1);
      transition: transform 0.2s ease-out;
      z-index: 3;
      position: relative;
    }
  }
  img {
    width: 70px;
    @media (min-width: 768px) {
      width: 100px;
    }
    @media (min-width: 1024px) {
      width: 70px;
    }
  }
  @media (min-width: 1024px) {
    border-radius: 13px;
     @include dark-shadow;
  }
}

.title {
  word-spacing: 100vw;
  @media (min-width: 768px) {
    font-size: 1.3rem;
  }
}

.subtitle {
  font-family: $fontFamilySecondary;
  color: $white;
  font-weight: 400;
  margin-left: 14%;
  margin-right: 14%;
  margin-top: 10px;
  @media (min-width: 768px) {
    font-size: 0.9rem;
    margin-left: 30%;
    margin-right: 30%;
  }
  @media (min-width: 1024px) {
    margin-left: 19%;
    margin-right: 19%;
  }
}
