<div class="container_service">
  <div class="service">
    <img src="assets/icons/staff_augmentation.svg" alt="">
    <h4 class="title"
     i18n="STAFF AUGMENTATION TITLE|staff augmentation@@StaffAugmentationTitle">
     STAFF <br>AUGMENTATION
    </h4>
    <h5
    class="subtitle"
    i18n="STAFF AUGMENTATION SUBTITLE|staff augmentation Subtitle@@StaffAugmentationSubtitle"
    >Overcome challenges and deadlines with our specialized personnel.</h5>
    <div class="service-button-wrapper">
      <app-button
      i18n="BUTTON LEARN MORE|button learn more@@LearnMore"
      type="button" routerLink="/services" type="secondary" size="small">
        Learn more
      </app-button>
    </div>
  </div>
</div>

<div class="container_service">
  <div class="service">
    <img src="assets/icons/specialized_projects.svg" alt="">
    <h4 class="title"
     i18n="SPECIALIZED PROJECTS TITLE|specialized projects@@SpecializedProjectsTitle"
    >SPECIALIZED <br>PROJECTS</h4>
    <h5
    i18n="SPECIALIZED PROJECTS SUBTITLE|specialized projects@@SpecializedProjectsSubtitle"
    class="subtitle">R&D and prototyping in IoT, Mobile, AR/VR-Simulation and Big Data.</h5>
    <div class="service-button-wrapper">
      <app-button
      i18n="BUTTON LEARN MORE|button learn more@@LearnMore"
      type="button" routerLink="/services" type="secondary" size="small">
        Learn more
      </app-button>
    </div>
  </div>
</div>

<div class="container_service">
  <div class="service">
    <img src="assets/icons/product_development.svg" alt="">
    <h4
    i18n="PRODUCT DEVELOPMENT TITLE|product development@@ProductDevelopmentTitle"
    class="title">PRODUCT <br>DEVELOPMENT</h4>
    <h5
    i18n="PRODUCT DEVELOPMENT SUBTITLE|product development subtitle@@ProductDevelopmentSubtitle"
    class="subtitle">Short-cycle MVP’s for rapid market validation and feature implementation.</h5>
    <div class="service-button-wrapper">
      <app-button
        i18n="BUTTON LEARN MORE|button learn more@@LearnMore"
        type="button" routerLink="/services" type="secondary" size="small">
        Learn more
      </app-button>
    </div>
  </div>
</div>
