<div class="service">
  <img src="assets/icons/staff_augmentation.svg" alt="">
  <h4 class="title">hola1</h4>
  <h5 class="subtitle">subtitulo1</h5>
  <div class="service-button-wrapper">
    <app-button type="button" routerLink="/services" type="secondary" size="small">
      Learn more
    </app-button>
  </div>
</div>
<div class="service">
  <img src="assets/icons/specialized_projects.svg" alt="">
  <h4 class="title">hola2</h4>
  <h5 class="subtitle">subtitulo2</h5>
  <div class="service-button-wrapper">
    <app-button type="button" routerLink="/services" type="secondary" size="small">
      Learn more
    </app-button>
  </div>
</div>
<div class="service">
  <img src="assets/icons/product_development.svg" alt="">
  <h4 class="title">hola3</h4>
  <h5 class="subtitle">subtitulo3</h5>
  <div class="service-button-wrapper">
    <app-button type="button" routerLink="/services" type="secondary" size="small">
      Learn more
    </app-button>
  </div>
</div>
