@import '~styles/variables';

.home-button-wrapper {
    max-width: 150px;
    margin-left: auto;
    margin-right: auto;
  
    // @media (min-width: 1024px) {
    //   width: 15%;
    // }
  }
  
  .service-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    opacity: 0.3;
    
  }
  .service {
    width: 100%;
    height: 319px;
    background: linear-gradient(60deg, $fandango, $ciberGrape);  
    align-self: center;  
  }