@import '~styles/variables';
.contact-hero {
  background: url("/../../assets/images/MAPA.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
  font-family: $fontFamilyPrimary;
  color: $white;
  padding-left: 15%;
  @media (min-width: 1024px) {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  p {
    border: 2px solid $white;
    padding: 9px;
    width: 200px;
  }
}

.title {
  margin: 0;
  padding-top: 60vh;
  width: 201px;
  @media (min-width: 1024px) {
    padding-top: 0;
    width: 358px;
  }

  span {
    color: $turquoiseBlue;
  }
}
