@import '~styles/variables';
.contact-hero {
   background: url("/../../assets/images/MAPA.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
