@import '~styles/variables';
.contact-hero {
  background: url("/../../assets/images/map.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
  font-family: $fontFamilyPrimary;
  color: $white;
  padding-left: 15%;
  @media (min-width: 1024px) {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  p {
    width: 205px;
  }
}

.underline{
  border-top: 3px solid $white;
  margin-top: 5px;
  width: 100px;
  @media (min-width: 1024px) {
    margin-left: 4px;
  }
}

.title {
  margin: 0;
  padding-top: 60vh;
  width: 201px;
  @media only screen and (orientation: landscape) {
    padding-top: 37vh;
  }

  @media (min-width: 1024px) {
    padding-top: 0;
    width: 358px;
    line-height: 1;
  }

  span {
    color: $turquoiseBlue;
  }
}

.arrow-down {
  width: 2rem;
  height: 2rem;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 10%;
  margin-left: auto;
  margin-right: auto;
}
