$rusianViolet:#2f1a45;
$japaneseViolet: #54284e;
$turquoiseBlue: #00fff7;
$mediumSlateBlue: #8785f2;
$brightLilac: #d88ee0;
$fandango: #98288f;
$ciberGrape: #59387f;
$white: #fff;


$fontFamilyPrimary: 'Poppins', sans-serif;
$fontFamilySecondary: 'Muli', sans-serif;
$fontLarge: 1.5em;
$fontMedium: 1em;
$fontSmall: 0.75rem;
