$rusianViolet:#2f1a45;
$japaneseViolet: #41255B;
$turquoiseBlue: #00fff7;
$mediumSlateBlue: #8785f2;
$brightLilac: #d88ee0;
$fandango: #98288f;
$ciberGrape: #59387f;
$white: #fff;
$medium-gray: #515151;
$dark-grey: #1b1b1b;
$black: #000000;


$fontFamilyPrimary: 'Poppins', sans-serif;
$fontFamilySecondary: 'Muli', sans-serif;
$fontLarge: 1.5em;
$fontMedium: 1em;
$fontSmall: 0.75rem;

@mixin light-shadow {
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.52);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.52);
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.52);
}
@mixin dark-shadow {
    -webkit-box-shadow: 0px 6px 28px -4px rgba(0,0,0,0.84);
    -moz-box-shadow: 0px 6px 28px -4px rgba(0,0,0,0.84);
    box-shadow: 0px 6px 28px -4px rgba(0,0,0,0.84);
}

@mixin mid-shadow {
    -webkit-box-shadow: 0px 6px 12px 0px rgba(0,0,0,0.45);
    -moz-box-shadow: 0px 6px 12px 0px rgba(0,0,0,0.45);
    box-shadow: 0px 6px 12px 0px rgba(0,0,0,0.45);  
}
