#fp-nav {
  $dotSize: 12px;

  opacity: 1;
  transition: opacity .4s ease;

  li {
    margin-bottom: 35px !important;

    &:last-child {
      span {
        background-image: url('../assets/icons/FLECHA.svg');
        background-repeat: no-repeat;
        height: $dotSize + 2px !important;
        width: $dotSize + 6px !important;
        border: none !important;
        left: 5px;
        background-color: transparent!important;
      }
    }
  }

  span {
    border: 1px solid #fff !important;
    background-color: #fff !important;
    height: $dotSize !important;
    width: $dotSize !important;
    margin: 0 !important;
  }

  .active {
    span {
      border-radius: 50% !important;
      background-color: transparent !important;
    }
  }
}

.fp-viewing-3 #fp-nav {
  opacity: 0;
}

.menu-open {
  #fp-nav {
    z-index: 0;
  }
}


@media (min-width: 1024px) {
  #fp-nav.right {
    right: 44px !important;
  }
}

