@import 'variables';
.fp-viewing-0 #navigation,
.fp-viewing-1 #navigation,
.fp-viewing-2 #navigation {
  transform: translateY(0);
}

.fp-viewing-3 #navigation {
  background-color: $white;
  #hot-stuff-button {
    background: $rusianViolet;
    border: 2px solid $rusianViolet;
  }

  #menu-button {
    background: $rusianViolet;
  }
  #menu-line1,
  #menu-line2,
  #menu-line3 {
    background: $white;
  }
  #menu-circle1,
  #menu-circle2 {
    border: solid 1px $rusianViolet;
  }

  #hot-stuff-text {
    color: $rusianViolet;
  }

  #logo-yuxi:before{
    color: $rusianViolet;
  }

  .yuxi-logo--white {
    display: none;
  }

  .yuxi-logo--color {
    display: block;
  }
}
.fp-viewing-3 #navigation.menu-visible {
  background: transparent;
  #menu-button {
    background: $white;
  }
  #menu-line1,
  #menu-line2,
  #menu-line3 {
    background: $rusianViolet;
  }
  #menu-circle1,
  #menu-circle2 {
    border: solid 1px $white;
  }


}




