.fp-viewing-0 #navigation,
.fp-viewing-1 #navigation,
.fp-viewing-2 #navigation {
  transform: translateY(0);
}

.fp-viewing-3 #navigation {
  background-color: #fff;
  #hot-stuff-button {
    background: #2F1A45;
    border: 2px solid #2F1A45;   
  }

  #menu-button {
    background: #2F1A45;
  }
  #menu-line1,
  #menu-line2,
  #menu-line3 {
    background: #fff;
  }
  #menu-circle1,
  #menu-circle2 {    
    border: solid 1px #2F1A45;
  }

  #hot-stuff-text {
    color: #2F1A45;
  }
}


