/* You can add global styles to this file, and also import other style files */
@import 'variables';
@import '~normalize.css/normalize.css';
@import url('https://fonts.googleapis.com/css?family=Muli|Poppins:700');
@import 'dots';

.body {
  font-family: $fontFamilySecondary;
  padding: 0;
  margin: 0;
  background: $rusianViolet;
}
