/* You can add global styles to this file, and also import other style files */
@import 'variables';
@import '~normalize.css/normalize.css';
@import url('https://fonts.googleapis.com/css?family=Muli|Poppins:700');
@import 'dots';
@import 'home-navigation-overwrites';
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

.body {
  font-family: $fontFamilySecondary;
  padding: 0;
  margin: 0;
  background: $rusianViolet;
}

@media (min-width: 1024px) {
  h1 {
    font-size: 3rem;
  }
}



/////ICONS-- TECHNOLOGIES

@font-face {
  font-family: 'icomoon';
  src:  url('/../../../assets/fonts/icomoon.eot?g1f6ef');
  src:  url('/../../../assets/fonts/icomoon.eot?g1f6ef#iefix') format('embedded-opentype'),
    url('/../../../assets/fonts/icomoon.ttf?g1f6ef') format('truetype'),
    url('/../../../assets/fonts/icomoon.woff?g1f6ef') format('woff'),
    url('/../../../assets/fonts/icomoon.svg?g1f6ef#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-JAVA-SCRIPT:before {
  content: "\e906";
}
.icon-C:before {
  content: "\e902";
}
.icon-Cplus:before {
  content: "\e903";
}
.icon-HTML:before {
  content: "\e904";
}
.icon-IONIC:before {
  content: "\e905";
}
.icon-JQUERY:before {
  content: "\e907";
}
.icon-KOTLIN:before {
  content: "\e908";
}
.icon-MICROSOFT:before {
  content: "\e909";
}
.icon-PHP:before {
  content: "\e919";
}
.icon-PHYTON:before {
  content: "\e91a";
}
.icon-REACT:before {
  content: "\e91b";
}
.icon-SWIFT:before {
  content: "\e91c";
}
.icon-ANGULAR:before {
  content: "\e900";
}
.icon-BOOTSTRAP:before {
  content: "\e901";
}
.icon-NODE:before {
  content: "\e90a";
}
