<section class="services-advantages" id="advantages">
  <div class="title">
    <h1
      i18n="Advatages title|Advatages title@@AdvatagesTitle">
      ADVANTAGES
    </h1>
    <app-colorful-dots></app-colorful-dots>
    <h3
      i18n="Advatages subtitle|Advatages subtitle@@ServicesAdvatagesSubtitle"
      class="secondary-text">
      Working with Yuxi means that you get<br>
      more than just a team behind.
    </h3>
  </div>
  <div class="container-advantages">
    <div class="advantages">
      <div class="location">
        <div class="icon">
          <img src="assets/icons/location-shadow.svg" alt="">
        </div>
        <div class="advantages-data">
          <h4
            i18n="advantages location title|location@@LocationTitle">
            LOCATION
          </h4>
          <p
            i18n="advantages location subtitle|location subtitle@@ServicesLocationSubtitle"
            class="subtitle">
            We work while you work, our prime location - 6 months on EST and other 6 on CST, Empowering synergies and communications. Collaboration is facilitated by the proximity of the city of Medellin with the U.S.A. Direct flights to and from New York, Miami., Boston and our U.S.A office headquarter that is located in Mason, Ohio.
          </p>
        </div>
      </div>
    </div>
    <div class="advantages">
      <div class="cultural-fit">
        <div class="icon">
          <img src="assets/icons/cultural-fit-shadow.svg" alt="">
        </div>
        <div class="advantages-data">
          <h4
            i18n="advantages cultural fit title|cultural fit@@CulturalFitTitle">
            CULTURAL FIT
          </h4>
          <p
            i18n="advantages cultural fit subtitle|cultural fit@@ServicesCulturalFitSubitle"
            class="subtitle">
            We shared a western mentality and culture. We are proactive, responsible and known by our attitude and charisma. If our teams think about something you can do to be improved, they will let you know and provide the alternatives. We are bilinguals in Spanish and English and work 45 hours a week. Our mindset is “We don´t work for you, we work with you”.
          </p>
        </div>
      </div>
    </div>
    <div class="advantages">
      <div class="flexibility">
        <div class="icon">
          <img src="assets/icons/flexibility-shadow.svg" alt="">
        </div>
        <div class="advantages-data">
          <h4
            i18n="advantages flexibility title|flexibility@@FlexibilityTitle">
            FLEXIBILITY
          </h4>
          <p
            i18n="advantages flexibility subtitle|flexibility@@ServicesFlexibilitySubtitle"
            class="subtitle">
            We stay updated with the most modern, edge practices and technologies. Our teams are versatile, adaptable and have expertise in a wide rage of programming languages, databases and frameworks.
            Our projects run under agile and traditional methodologies which are supported by our UX / UIU, QA and DevOps practices. Our solutions are adjusted to your needs and doesn´t go other way.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

