  @import '~styles/variables';
  .services-advantages {
    padding-top: 15rem;
    font-family: $fontFamilyPrimary;
    color: $white;
    text-align: center;
    position: relative;
    background: linear-gradient(to bottom, $japaneseViolet 1%, $ciberGrape 1%);
    @media (min-width: 1024px) {
      display: flex;
      flex-direction: column;
      align-items: center;
      position: relative;
      background: linear-gradient(to bottom, $japaneseViolet 65%, $ciberGrape 65%);
    }
  }
  .title {
    padding-bottom: 43px;
  }
  .title h1 {
    margin: 0;
    padding-top: 50px;
    position: relative;
    z-index: 1;
    @media (min-width: 1024px) {
      color: #515151;
      padding-top: 50px;
    }
  }
  .secondary-text {
    font-family: muli;
    font-weight: 400;
    display: none;
    color: #515151;
    @media (min-width: 1024px) {
      display: block;
    }
  }
  .advantages{
      position: relative;
      display: flex;
      justify-content: center;
      &:before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        height: 15px;
        width: 100%;
        background: $white;
        -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.52);
        -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.52);
        box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.52);
        @media (min-width: 1024px) {
          display: none;
        }
      }
  }

  .icon {
    right: 50%;
    transform: translate(50%, 0%);
    position: absolute;
    top: -29px;
    width: 80px;
    @media (min-width: 1024px) {
      width: 96px;
      top: -44px;
    }
  }

  .location {
    background-color: #3fa0f7;
    @media (min-width: 1024px) {
      border-radius: 10px 0 0 10px;
    }
  }
  .cultural-fit {
    background-color: #9b4bf9;
  }

  .flexibility {
    background-color: #f45efc;
    @media (min-width: 1024px) {
      border-radius: 0 10px 10px 0;
    }
  }
  .subtitle {
    font-family: $fontFamilySecondary;
    font-weight: 400;
    margin-top: 0;
    font-size: 0.9rem;
    text-align: justify;
  }

  .advantages-data {
    margin: 61px 50px;
    @media (min-width: 1024px) {
      width: 250px;
    }
    h4 {
      font-size: 1.3rem;
    }
  }


  @media (min-width: 1024px) {
    .container-advantages{
      display: flex;
      position: absolute;
      top: 33rem;
      border-radius: 10px;
      -webkit-box-shadow: 0px 6px 28px -4px rgba(0,0,0,0.84);
      -moz-box-shadow: 0px 6px 28px -4px rgba(0,0,0,0.84);
      box-shadow: 0px 6px 28px -4px rgba(0,0,0,0.84);
    }

    .title {
      background: white;
      width: 85%;
      height: 500px;
      border-radius: 15px;
      padding-bottom: 0;
    }
  }

