<div class="get-in-touch-container">
  <div class="get-in-touch header-get-in-touch"> 
    <button class="close-button"
      (click)="closeOverlay()"
      type="button"
    >
    <mat-icon class="md-24">close</mat-icon>
    </button>
    <h2 class="text">GET IN<br> TOUCH</h2>
  </div>
  
  <div class="get-in-touch get-in-touch-buttons">
    <button mat-raised-button class="button-option">Let’s talk business </button>
    <button mat-raised-button class="button-option">Want to be a Yuxian?</button>
    <button mat-raised-button class="button-option">Do you have questions?</button>
  </div>
</div>


