<div class="get-in-touch-container">
  <div class="get-in-touch header-get-in-touch">
    <button class="close-button"
      (click)="closeOverlay()"
      type="button"
    >
    <mat-icon class="md-24">close</mat-icon>
    </button>
    <h2 class="text"
      i18n="get in touch Title|get in touch Title@@getInTouchTitle"
      >GET IN<br> TOUCH
    </h2>
  </div>

  <div class="get-in-touch get-in-touch-buttons">
    <a
      i18n="Let’s talk business|Let’s talk business@@letsTalkBusiness"
      mat-raised-button
      class="button-option"
      href="/contact/business/#contact-form"
    >
      Let’s talk business
    </a>
    <button
      i18n="Want to be a Yuxian|Want to be a Yuxian@@WantToBeAYuxian"
      mat-raised-button class="button-option"
      routerLink="/careers"
    >
      Want to be a Yuxian?
    </button>
    <a
      i18n="Do you have questions|Do you have questions@@DoYouHaveQuestions"
      mat-raised-button
      class="button-option"
      href="/contact/general/#contact-form"
    >
      Do you have questions?
    </a>
  </div>
</div>


