<div class="get-in-touch-container">
  <div class="get-in-touch header-get-in-touch"> 
    <button class="close-button"
      (click)="closeOverlay()"
      type="button"
    >
    <md-icon class="md-24">close</md-icon>
    </button>
    <h1 class="text">GET IN TOUCH</h1>
  </div>
  
  <div class="get-in-touch get-in-touch-buttons">
    <button md-raised-button class="button-option">Let’s talk business </button>
    <button md-raised-button class="button-option">Want to be a Yuxian?</button>
    <button md-raised-button class="button-option">Do you have questions?</button>
  </div>
</div>


