@import '~styles/variables';
.advantages {
  align-items: center;
  background: $white;
  color: $rusianViolet;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 15px;
  padding-bottom: 15px;
  @media (min-width: 768px) {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  img {
    width: 70px;
    @media (min-width: 768px) {
      width: 90px;
    }
  }
  @media (min-width: 1024px) {    
    flex-direction: column;
    width: 332px; 
    padding-top: 75px;
    padding-bottom: 75px;  
  }
}

.subtitle {
  font-family: $fontFamilySecondary;
  font-weight: 400;
  margin-top: 0;
  font-size: 0.75rem;
  @media (min-width: 768px) {
    font-size: 0.9rem;
  }
}

.advantages-data {
  text-align: left;
  width: 50%;
  @media (min-width: 1024px) {
    text-align: center;
    width: 65%;
  }
  h4 {
    margin-bottom: 5px;
    @media (min-width: 768px) {
      font-size: 1.3rem;
    }
    
  }
}

.advantages-button {
  margin-right: 10px;
  @media (min-width: 1204px) {
    display: none;
  }
}
.advantages-button-wrapper {
  display: none;
  max-width: 150px;
  margin-left: auto;
  margin-right: auto; // @media (min-width: 1024px) {
  //   width: 15%;
  // }
}

.inner-circle {
  transform: scale(0.8);
  background: $turquoiseBlue;
  @media (min-width: 768px) {
    transform: scale(1);
  }
}

.location:hover {
  background-color: #3fa0f7;
}

.cultural-fit:hover {
  background-color: #9b4bf9;
}

.flexibility:hover {
  background-color: #f45efc;
}

.location,
.cultural-fit,
.flexibility {
  transition: background-color 0.2s ease-in-out;
  &:hover {
    color: $white;
    .inner-circle {
      cursor: pointer;
      color: $rusianViolet;
    }
  }
}

@media (min-width: 768px) {
  .location {
    border-radius: 15px 15px 0 0;
  }
  .flexibility {
    border-radius: 0 0 15px 15px;
  }
}
@media (min-width: 1204px) {
  .location {
    border-radius: 15px 0 0 15px;
  }
  .flexibility {
    border-radius: 0 15px 15px 0;
  }
  .advantages-button-wrapper {
    display: block;
    max-width: 150px;
    margin-left: auto;
    margin-right: auto; // @media (min-width: 1024px) {
    //   width: 15%;
    // }
  }
}
