<div class="advantages location">
    <div>
        <img src="assets/icons/location.svg" alt="">
    </div>
    <div class="advantages-data">
      <h4
        i18n="advantages location title|location@@LocationTitle"
        >LOCATION
      </h4>
      <h5
      i18n="advantages location subtitle|location@@homeLocationSubtitle"
      class="subtitle">
      UTC-5:00, direct flights, and a US-based support office.
    </h5>
    </div>
    <div class="advantages-button">
      <a class="inner-circle" mat-mini-fab href="/services/#advantages">
        <mat-icon class="md-24">keyboard_arrow_right</mat-icon>
      </a>
    </div>
    <div class="advantages-button-wrapper">
      <app-button type="button" type="secondary" size="small">
        <a
        href="/services/#advantages"
        i18n="BUTTON LEARN MORE|button learn more@@LearnMore">
        Learn more
      </a>
      </app-button>
    </div>
</div>

<div class="advantages cultural-fit">
  <div>
    <img src="assets/icons/cultural_fit.svg" alt="">
  </div>
  <div class="advantages-data">
    <h4
      i18n="advantages cultural fit title|cultural fit@@CulturalFitTitle">
      CULTURAL FIT
    </h4>
    <h5
      i18n="advantages cultural fit subtitle|cultural fit@@homeCulturalFitSubtitle"
      class="subtitle">
      Western culture, mentality, and bilingualism.
    </h5>
  </div>
  <div class="advantages-button">
    <a class="inner-circle" mat-mini-fab href="/services/#advantages">
      <mat-icon class="md-24">keyboard_arrow_right</mat-icon>
    </a>
  </div>
  <div class="advantages-button-wrapper">
    <app-button type="button" type="secondary" size="small">
      <a
        href="/services/#advantages"
        i18n="BUTTON LEARN MORE|button learn more@@LearnMore">
        Learn more
      </a>
    </app-button>
  </div>
</div>

<div class="advantages flexibility">
  <div>
    <img src="assets/icons/flexibility.svg" alt="">
  </div>
  <div class="advantages-data">
    <h4 i18n="advantages flexibility title|flexibility@@FlexibilityTitle">
      FLEXIBILITY
    </h4>
    <h5
      i18n="advantages flexibility subtitle|flexibility@@homeFlexibilitySubtitle"
      class="subtitle">
      Expertise in diverse languages, databases, and frameworks.
    </h5>
  </div>
  <div class="advantages-button">
    <a class="inner-circle" mat-mini-fab href="/services/#advantages">
      <mat-icon class="md-24">keyboard_arrow_right</mat-icon>
    </a>
  </div>
  <div class="advantages-button-wrapper">
    <app-button type="button" type="secondary" size="small">
      <a
        href="/services/#advantages"
        i18n="BUTTON LEARN MORE|button learn more@@LearnMore">
        Learn more
      </a>
    </app-button>
  </div>
</div>
