<div class="advantages" [ngClass]="info.class">
    <div>
        <img [src]="info.icon" alt="">
    </div>
    <div class="advantages-data">
      <h4>{{info.title | uppercase}}</h4>
      <h5 class="subtitle">{{info.subtitle}}</h5>
    </div>
    <div class="advantages-button">
      <a class="inner-circle" mat-mini-fab href="/services/#advantages">
        <mat-icon class="md-24">keyboard_arrow_right</mat-icon>
      </a>
    </div>
    <div class="advantages-button-wrapper">
      <app-button type="button" type="secondary" size="small">
        <a href="/services/#advantages">Learn more</a>
      </app-button>
    </div>
</div>
