<section class="who-we-are">
  <div class="title">
    <h1
      i18n="who we are title|who we are title@@WhoWeAreTitle">
      WHO WE ARE
    </h1>
    <app-colorful-dots></app-colorful-dots>
  </div>
  <div class="who-we-are-description">
    <p
      i18n="who we are first description|first description@@WhoWeAreFirstDescription"
      id="text-description">
      We are a tech company with 13 years of experience that provides digital solutions to help you solve your business challenges based on our human-centered approach and focusing on your digital transformation journey.  Companies can count on us for software development outsourcing and specialized services such as mobile apps, internet of things, virtual and/or augmented reality, big data and machine learning.
    </p>
  </div>
  <div class="service-button-wrapper">
      <a target="_blank" href="https://medium.com/@blogyuxiglobal/8-razones-para-trabajar-en-yuxi-global-8-reasons-to-work-in-yuxi-7a36d754ada1">
        <div class="button">
          <div class="inner-button secondaryInnerBackground">
            <h5 i18n="BUTTON LEARN MORE|button learn more@@LearnMore">
              Learn more
            </h5>
          </div>
        </div>
      </a>
  </div>
</section>
