<section class="who-we-are">
  <div class="title">
    <h1
      i18n="who we are title|who we are title@@WhoWeAreTitle">
      WHO WE ARE
    </h1>
    <app-colorful-dots></app-colorful-dots>
  </div>
  <div class="who-we-are-description">
    <p
      i18n="who we are first description|first description@@WhoWeAreFirstDescription"
      id="text-description">
      Yuxi Global (that was called Yuxi Pacific at that time) was founded in Pennsylvania, U.S.A in 2005 by the entrepreneur Michael Puscar. In 2011, we opened a small office in Medellin, Colombia for the process of Research & Development and also by the quality of the local talent. Our sales and employee numbers began doubling each year since all our operations were moved to the city of Medellin.
    </p>
    <p
      i18n="who we are second description|second description@@WhoWeAreSecondDescription">
      In 2013, the company was acquired by the Blue Loop Capital and investment firm from the U.S.A that was owned by a single stakeholder, the serial entrepreneur, inventor and investor Kent Savage.
      In 2016, we rebranded ourselves as Yuxi Global, adopting a more modern image which reflects the maturity we have reached and our capacity of tackling challenges from all over the world.
    </p>
  </div>
  <div class="service-button-wrapper">
      <a target="_blank" href="https://medium.com/@blogyuxiglobal/8-razones-para-trabajar-en-yuxi-global-8-reasons-to-work-in-yuxi-7a36d754ada1">
        <div class="button">
          <div class="inner-button secondaryInnerBackground">
            <h5 i18n="BUTTON LEARN MORE|button learn more@@LearnMore">
              Learn more
            </h5>
          </div>
        </div>
      </a>
  </div>
</section>
