@import '~styles/variables';
app-nav-bar {
    text-align: center;
    color: $white;
    font-family: $fontFamilyPrimary;
}


//overlay logic
.overlay {
    position: absolute;
    height: 100vh;
    width: 100vw;
    background: linear-gradient(60deg, $fandango, $ciberGrape);
    opacity: 0;
    transition: opacity .5s ease;
    display: none;
  
    &.active {
      opacity: 0.95;
      z-index: 101;
      display: block;
    }
  }