  .dot {
    border-radius: 100%;
    display: inline-block;
    width: 6px;
    height: 6px;
    margin: 3px;
    @media (min-width: 768px) {
      height: 11px;
      margin: 7px;
      width: 11px;
    }
  }
  .load-dot-1 {
    background-color: #F45EFC;
  }

  .load-dot-2 {
    background-color: #A153F9;
  }

  .load-dot-3 {
    background-color: #3EA3F7;
  }

  .load-dot-4 {
    background-color: #00FFF7;
  }


  $move-distance: 5px;

  .dot {
    -webkit-animation: move 1s cubic-bezier(0.445, 0.05, 0.55, 0.95) infinite;
    -webkit-transform: translateY(-$move-distance);


    @for $i from 1 through 4 {
      &:nth-child(#{$i}) {
        -webkit-animation-delay: $i * 0.15s;
        animation-delay: $i * 0.15s;
      }
    }
  }

  @keyframes move {
    0% {
      -webkit-transform: translateY(-$move-distance);

    }

    50% {
      -webkit-transform: translateY($move-distance);

    }

    100% {
      -webkit-transform: translateY(-$move-distance);

    }
  }

