<!-- (carouselLoad)="myfunc($event)" -->
<ngx-carousel [inputs]="carouselOne">
    <ngx-item NgxCarouselItem>
        <div class="image-banner img2">
            <div class="banner-info">
                <h1 i18n="@@TestimonialTwo">MEET <br>MICHAEL <br>FERIOLI.</h1>
                <p i18n="@@TestimonialSubtitleTwo">Brainshark - VP of Engineering</p>
                <a target="_blank" href="https://www.youtube.com/watch?v=HFSHcWp3VK4">
                    <div class="button">
                      <div class="inner-button secondaryInnerBackground">
                        <h5 i18n="BUTTON WATCH|button watch@@watch">
                          Watch
                        </h5>
                      </div>
                    </div>
                  </a>
            </div>
        </div>
    </ngx-item>
    <ngx-item NgxCarouselItem>
        <div class="image-banner img3">
            <div class="banner-info">
                <h1 i18n="@@Testimonialthree">MEET <br>IMS <br>TEAM.</h1>
                <p i18n="@@TestimonialSubtitleThree">Jay Rice & Brian Kimmel</p>
                <a target="_blank" href="https://medium.com/blogyuxiglobal/who-are-we-e13eed88de1e">
                    <div class="button">
                      <div class="inner-button secondaryInnerBackground">
                        <h5 i18n="BUTTON WATCH|button watch@@watch">
                          Watch
                        </h5>
                      </div>
                    </div>
                  </a>
            </div>
        </div>
    </ngx-item>
    <button NgxCarouselPrev class='leftRs'><img class="arrow-banner-left" src="/../../../assets/icons/arrow-banner.svg" alt=""></button>
    <button NgxCarouselNext class='rightRs'><img class="arrow-banner-right" src="/../../../assets/icons/arrow-banner.svg" alt=""></button>
  </ngx-carousel>
