@import '~styles/variables';
ngx-carousel {
    background-color: $ciberGrape;
    // height: 50vh;
    color: $white;
    font-family: $fontFamilyPrimary;
}
ngx-item {
   h1 {
    margin: 0;
    text-align: left;  
    line-height: 0.9;
   }
   p {
       font-family: $fontFamilySecondary;   
       text-align: left;
    }
}
.banner-info {
    margin-left: 29%;
    margin-top: 8rem;
    @media (min-width: 768px) {
        margin-left: 43%;
        margin-top: 28rem;
    }
    @media (min-width: 1024px) {
        margin-left: 50%;
        margin-top: 0;
    }
}
.button {
    width: 106px;
}

.image-banner {
    width: 100%;
    height: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    @media (min-width: 1024px) {
        height: 600px;
    }
}

.leftRs {
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    width: 40px;
    border-radius: 999px;
    left: 27px;
    background: transparent;
    border: none;
    outline: none;
}
.arrow-banner-left {
    transform: rotate(90deg);
    cursor: pointer;
}

.rightRs {
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    width: 40px;
    border-radius: 999px;
    right: 27px;
    background: transparent;
    border: none;
    outline: none;
}

.arrow-banner-right {
    transform: rotate(-90deg);
    cursor: pointer;
}

.img1 {
    background-image: url("/../../../assets/images/testimonio-ben.jpg");
    background-size: cover;
    background-position: 30%;
    @media (min-width: 1024px) {
       background-position: 0%;
    }
}
.img2 {
    background-image: url("/../../../assets/images/testimonio-michael.jpg");
    background-size: cover;
    background-position: 30%;
    @media (min-width: 1024px) {
       background-position: 0%;
    }
}
.img3 {
    background-image: url("/../../../assets/images/testimonio-ims.jpg");
    background-size: cover;
    background-position: 30%;
    @media (min-width: 1024px) {
       background-position: 0%;
    }
}

