@import '~styles/variables';
  
  .image-medellin,
  .image-armenia,
  .image-manson {
    background-size: cover;
    width: 100vw;
    height: 100vw;
    position: relative;
    z-index: 1; 
    position: relative;
    &.hide {
      display: none;
    }

    &:after {
      position: absolute;
      content:"";
      top:0;
      left:0;
      width:100%;
      height:100%;
      opacity:0;
    }

    &:hover:after  {
      opacity: .8;
       background-color: $fandango;
    }
  }
  .image-medellin {
    background-image: url("/../../assets/images/medellin.jpg");
  }
  .image-armenia {
    background-image: url("/../../assets/images/armenia.jpg");
  }
  .image-manson {
    background-image: url("/../../assets/images/manson.jpg");
  }

  .open-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    z-index: 1;
    position: relative;
  
    h2, p {
      margin: 0;
      padding: 3px 0;
    }
  
    app-button {
      padding-top: 10px;
    }
  }
  
  .info-medellin {
    color: #000;
    display: none;
    background: #fefefe;
  
    &.showContent {
      display: block;
    }
  }  
  .info-medellin-copy {
    padding: 20px;
  }
  
  
  //Desktop
  
  @media (min-width: 1024px) {  
    .show-mobile {
      display: none;
    }
  }
  
  