  
  .image-medellin {
    background: url("/../../assets/images/medellin.jpg");
    background-size: cover;
    border-radius: 10px;
    width: 100%;
    height: 300px;
    position: relative;
    z-index: 1; 
    &.hide {
      display: none;
    }
  }
  .image-armenia {
    background: url("/../../assets/images/armenia.jpg");
    background-size: cover;
    border-radius: 10px;
    width: 100%;
    height: 300px;
    position: relative;
    z-index: 1; 
    &.hide {
      display: none;
    }
  }
  .image-manson {
    background: url("/../../assets/images/manson.jpg");
    background-size: cover;
    border-radius: 10px;
    width: 100%;
    height: 300px;
    position: relative;
    z-index: 1; 
    &.hide {
      display: none;
    }
  }
  
  .open-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
  
    h2, p {
      margin: 0;
      padding: 3px 0;
    }
  
    app-button {
      padding-top: 10px;
    }
  }
  
  .info-medellin {
    color: #000;
    display: none;
    background: #fefefe;
  
    &.showContent {
      display: block;
    }
  }  
  .info-medellin-copy {
    padding: 20px;
  }
  
  
  //Desktop
  
  @media (min-width: 1024px) {  
    .show-mobile {
      display: none;
    }
  }
  
  