<div class="show-mobile">
  <div class="overlay-purple">
    <div class="{{info.class}}" [class.hide]="hideImage">
      <div class="open-info">
        <h2>{{info.cityTitle | uppercase}}</h2>
        <p>{{info.country | uppercase}}</p>
        <app-button type="secondary" size="small" (click)="toggleHideImage()">
          Learn more
        </app-button>
      </div>
    </div>
    <div class="info-medellin" [class.showContent]="hideImage">
      <div class="info-medellin-copy">
        <h2>{{info.cityTitle | uppercase}}</h2>
        <p>{{info.country}}</p>
        <p>{{info.address}}</p>
        <p>{{info.citySubtitle}}</p>
        <p>{{info.phone}}</p>
      </div>
    </div>
  </div>
</div>
