<div class="show-mobile">
  <div class="overlay-purple">
    <div class="image-mason" [class.hide]="hideImageMason">
      <div class="open-info">
        <h1>MASON</h1>
        <h3>OHIO</h3>
        <app-button
          i18n="BUTTON view info|button view info@@ViewInfo"
          type="secondary" size="small"
          (click)="toggleHideImageMason()">
          View info
        </app-button>
      </div>
    </div>
    <div class="info-city" [class.showContent]="hideImageMason">
      <div class="info-city-copy">
        <button class="close-button" (click)="toggleHideImageMason()" type="button">
          <mat-icon class="md-24">close</mat-icon>
        </button>
        <div class="icon-map">
          <a target="_blank" href="
          https://www.google.com.co/maps/place/4393+Digital+Way,+Mason,+OH+45040,+USA/@39.3120608,-84.3030423,17.92z/data=!4m5!3m4!1s0x884057ae10425fc9:0x6f00d3d9740b50ac!8m2!3d39.31192!4d-84.3019887?hl=en
          ">
            <svg-icon class="location-map"src="assets/icons/location-map.svg"></svg-icon>
          </a>
        </div>
        <h1>MASON</h1>
        <h3>OHIO</h3>
        <p>4393 Digital Way.</p>
        <p>Mason, OH. 45040</p>
        <p>(+1) 513 348 8265</p>
      </div>
    </div>
  </div>
    
  <div class="overlay-purple">
    <div class="image-medellin" [class.hide]="hideImageMed">
      <div class="open-info">
        <h1>MEDELLÍN</h1>
        <h3>COLOMBIA</h3>
        <app-button
          i18n="BUTTON view info|button view info@@ViewInfo"
          type="secondary" size="small"
          (click)="toggleHideImageMed()">
          View info
        </app-button>
      </div>
    </div>
    <div class="info-city" [class.showContent]="hideImageMed">
      <div class="info-city-copy">
        <button class="close-button"
          (click)="toggleHideImageMed()"
          type="button"
        >
          <mat-icon class="md-24">close</mat-icon>
        </button>
        <div class="icon-map">
          <a target="_blank" href="https://www.google.com.co/maps/place/Yuxi+global/@6.224402,-75.5772061,17z/data=!3m1!4b1!4m5!3m4!1s0x8e4429cb39fa470d:0x774e27efbee94e20!8m2!3d6.224402!4d-75.5750121?hl=en">
            <svg-icon class="location-map" src="assets/icons/location-map.svg"></svg-icon>
          </a>
        </div>
        <h1>MEDELLÍN</h1>
        <h3>COLOMBIA</h3>
        <p>Cra 48 # 20-34. Of. 1012 – 1014.</p>
        <p>Centro empresarial Ciudad del Río.</p>
        <p>Medellín, Antioquia.</p>
        <p>(+57) (4) 604 81 13</p>
      </div>
    </div>
  </div>

  <div class="overlay-purple">
    <div class="image-armenia" [class.hide]="hideImageArmenia">
      <div class="open-info">
        <h1>ARMENIA</h1>
        <h3>COLOMBIA</h3>
        <app-button
          i18n="BUTTON view info|button view info@@ViewInfo"
          type="secondary" size="small"
          (click)="toggleHideImageArmenia()">
          View info
        </app-button>
      </div>
    </div>
    <div class="info-city" [class.showContent]="hideImageArmenia">
      <div class="info-city-copy">
        <button class="close-button" (click)="toggleHideImageArmenia()" type="button">
          <mat-icon class="md-24">close</mat-icon>
        </button>
        <div class="icon-map">
          <a target="_blank" href="https://www.google.com.co/maps/place/Cra.+14+%2323-15,+Armenia,+Quind%C3%ADo/@4.5315874,-75.6764914,17.22z/data=!4m5!3m4!1s0x8e38f5ae1f72baf5:0xf73a597b566a10b!8m2!3d4.5315705!4d-75.6745463?hl=en">
            <svg-icon class="location-map"src="assets/icons/location-map.svg"></svg-icon>
          </a>
        </div>
        <h1>ARMENIA</h1>
        <h3>COLOMBIA</h3>
        <p>Cra 14 # 23 - 15.</p>
        <p>Cámara de Comercio.</p>
        <p>Armenia, Quindio.</p>
      </div>
    </div>
  </div>
</div>
