<div class="culture-box">
  <div class="inner-background environment" [class.hide]="showEnvironmentInfo">
    <h2
      i18n="good work enviroment title|enviroment title@@WorkEnvironmentTitle">
      GOOD WORK ENVIRONMENT.
    </h2>
    <div class="underline"></div>
    <h5
      i18n="good work enviroment subtitle|enviroment subtitle@@WorkEnvironmentSubtitle">
      MEANS HAPPY EMPLOYEES
    </h5>
    <button class="more" (click)="toggleEnvironmentInfo()" type="button">
      <mat-icon class="md-24">add</mat-icon>
    </button>
  </div>
  <div class="complete-info environment" [class.showContent]="showEnvironmentInfo">
    <h2
      i18n="good work enviroment title|enviroment title@@WorkEnvironmentTitle">
      GOOD WORK ENVIRONMENT.
    </h2>
    <div class="purple-underline"></div>
    <p
      i18n="good work enviroment description|enviroment description@@WorkEnvironmentDescription">
      Having a good environment for work is having happy employees. This accounts both for the location and atmosphere. Yuxians have access to free fruit, several types of cereal, coffee and snacks. We Host activities like guided active breaks and massages every month. Our offices are spaces designed to be either comfortable or inspiring; letting creativity flow freely.
    </p>
  </div>
</div>
<div class="image environment">
  <img src="assets/images/cereal-icon.png" alt="">
</div>

<!-- Benefits -->
<div class="culture-box">
  <div class="inner-background benefits" [class.hide]="showBenefitsInfo">
    <h2
      i18n="benefits package title|benefits title@@BenefitsTitle">
      COMPREHENSIVE BENEFITS PACKAGE.
    </h2>
    <div class="underline"></div>
    <h5
      i18n="benefits package subtitle|benefits subtitle@@BenefitsSubtitle">
      GOES A LONG WAY
    </h5>
    <button class="more" (click)="toggleBenefitsInfo()" type="button">
      <mat-icon class="md-24">add</mat-icon>
    </button>

  </div>
  <div class="complete-info benefits" [class.showContent]="showBenefitsInfo">
    <h2
      i18n="benefits package title|benefits title@@BenefitsTitle">
      COMPREHENSIVE BENEFITS PACKAGE.
    </h2>
    <div class="purple-underline"></div>
    <p
      i18n="benefits package Description|benefits Description@@BenefitsDescription">
      A strong and comprehensive benefits package that is reachable at any time you want. Our employees can choose and mix the benefits like gym memberships, Premium healthcare, vehicle insurance, saving programs, food or gas bonuses and educational aids, etc.
    </p>
  </div>

</div>
<div class="image benefits">
  <img src="assets/images/yoga-ball.png" alt="">
</div>

<!-- Lifestyle -->
<div class="culture-box">
  <div class="inner-background lifestyle" [class.hide]="showLifestyleInfo">
    <h2
      i18n="lifestyle title|lifestyle title@@LifestyleTitle">
      MORE THAN A LIFESTYLE.
    </h2>
    <div class="underline"></div>
    <h5
      i18n="lifestyle Subtitle|lifestyle Subtitle@@LifestyleSubtitle">
      IT’S OUR WORKSTYLE
    </h5>
    <button class="more" (click)="toggleLifestyleInfo()" type="button">
      <mat-icon class="md-24">add</mat-icon>
    </button>

  </div>
  <div class="complete-info lifestyle" [class.showContent]="showLifestyleInfo">
    <h2
      i18n="lifestyle title|lifestyle title@@LifestyleTitle">
      MORE THAN A LIFESTYLE.
    </h2>
    <div class="purple-underline"></div>
    <p
      i18n="lifestyle Description|lifestyle Description@@LifestyleDescription">
      You not only work to live, life also has incidence within the office. For many years, society has thought that work is a hindrance that stops us from living our current life, something so struggling that you get paid for it. It is time to change that, #Yuxi-Life is our way of creating conditions where people can feel happy, encouraged and motivate about going to work. #Yuxi-Life is more than a lifestyle or workstyle.
    </p>
  </div>

</div>
<div class="image lifestyle">
  <img src="assets/images/control-icon.png" alt="">
</div>
