<!-- (carouselLoad)="myfunc($event)" -->
<ngx-carousel [inputs]="carouselOne">
    <ngx-item NgxCarouselItem>
      <div class="image-banner img1">
          <div class="banner-info">
              <h1 i18n="@@TestimonialOne">MEET <br>BEN <br>SAVAGE.</h1>
              <p i18n="@@TestimonialSubtitleOne">Chief Innovation Officer.</p>
              <a target="_blank" href="https://medium.com/blogyuxiglobal/who-are-we-e13eed88de1e">
                <div class="button">
                  <div class="inner-button secondaryInnerBackground">
                    <h5 i18n="BUTTON WATCH|button watch@@watch">
                      Watch
                    </h5>
                  </div>
                </div>
              </a>
          </div>
      </div> 
    </ngx-item>
    <ngx-item NgxCarouselItem>
        <div class="image-banner img2">
            <div class="banner-info">
                <h1 i18n="@@TestimonialTwo">MEET <br>BEN <br>SAVAGE.</h1>
                <p i18n="@@TestimonialSubtitleTwo"></p>
                <a target="_blank" href="https://medium.com/blogyuxiglobal/who-are-we-e13eed88de1e">
                    <div class="button">
                      <div class="inner-button secondaryInnerBackground">
                        <h5 i18n="BUTTON WATCH|button watch@@watch">
                          Watch
                        </h5>
                      </div>
                    </div>
                  </a>
            </div>
        </div>
    </ngx-item>
    <ngx-item NgxCarouselItem>
        <div class="image-banner img3">
            <div class="banner-info">
                <h1 i18n="@@Testimonialthree">MEET <br>BEN <br>SAVAGE.</h1>
                <p i18n="@@TestimonialSubtitleThree"></p>
                <a target="_blank" href="https://medium.com/blogyuxiglobal/who-are-we-e13eed88de1e">
                    <div class="button">
                      <div class="inner-button secondaryInnerBackground">
                        <h5 i18n="BUTTON WATCH|button watch@@watch">
                          Watch
                        </h5>
                      </div>
                    </div>
                  </a>
            </div>
        </div>
    </ngx-item>
    <button NgxCarouselPrev class='leftRs'>&lt;</button>
    <button NgxCarouselNext class='rightRs'>&gt;</button>
  </ngx-carousel>
