<!-- (carouselLoad)="myfunc($event)" -->
<ngx-carousel [inputs]="carouselOne">
    <ngx-item NgxCarouselItem>
      <div class="image-banner img1">
          <!-- <img src="/../../../assets/images/testimonio-ben.jpg">-->
      </div> 
    </ngx-item>
    <ngx-item NgxCarouselItem>
        <div class="image-banner img2">
            <!-- <img src="/../../../assets/images/testimonio-ben.jpg"> -->
        </div>
    </ngx-item>
    <ngx-item NgxCarouselItem>
        <div class="image-banner img3">
            <!-- <img src="/../../../assets/images/testimonio-ben.jpg"> -->
        </div>
    </ngx-item>
    <button NgxCarouselPrev class='leftRs'>&lt;</button>
    <button NgxCarouselNext class='rightRs'>&gt;</button>
  </ngx-carousel>
