<ngx-carousel [inputs]="carouselOne" (carouselLoad)="myfunc($event)">
  <ngx-item NgxCarouselItem>
    <div class="image-banner">
        <img src="/../../../assets/images/BANNER1_MOBILE.png"> 
    </div>
    <div class="image-banner-desktop">
        <img src="/../../../assets/images/BANNER1_DESKTOP.png"> 
    </div>
  </ngx-item>
  <ngx-item NgxCarouselItem>
      <div class="image-banner">
          <img src="/../../../assets/images/BANNER2_MOBILE.png"> 
      </div>
      <div class="image-banner-desktop">
          <img src="/../../../assets/images/BANNER2_DESKTOP.png"> 
      </div>
  </ngx-item>
  <ngx-item NgxCarouselItem>
      <div class="image-banner">
          <img src="/../../../assets/images/BANNER3_MOBILE.png"> 
      </div>
      <div class="image-banner-desktop">
          <img src="/../../../assets/images/BANNER3_DESKTOP.png"> 
      </div>
  </ngx-item>
  <ngx-item NgxCarouselItem>
      <div class="image-banner">
          <img src="/../../../assets/images/BANNER4_MOBILE.png"> 
      </div>
      <div class="image-banner-desktop">
          <img src="/../../../assets/images/BANNER4_DESKTOP.png"> 
      </div>
  </ngx-item>
  <button NgxCarouselPrev class='leftRs'>&lt;</button>
  <button NgxCarouselNext class='rightRs'>&gt;</button>
</ngx-carousel>