<!-- (carouselLoad)="myfunc($event)" -->
<ngx-carousel [inputs]="carouselOne">
  <ngx-item NgxCarouselItem>
    <div class="image-banner">
        <img i18n-src="@@banner1Mobile" src="/../../../assets/images/BANNER1_MOBILE.png">
    </div>
    <div class="image-banner-desktop">
        <img i18n-src="@@banner1Desktop"
          src="/../../../assets/images/BANNER1_DESKTOP.png">
    </div>
  </ngx-item>
  <ngx-item NgxCarouselItem>
      <div class="image-banner">
          <img i18n-src="@@banner2Mobile" src="/../../../assets/images/BANNER2_MOBILE.png">
      </div>
      <div class="image-banner-desktop">
          <img i18n-src="@@banner2Desktop" src="/../../../assets/images/BANNER2_DESKTOP.png">
      </div>
  </ngx-item>
  <ngx-item NgxCarouselItem>
      <div class="image-banner">
          <img i18n-src="@@banner3Mobile" src="/../../../assets/images/BANNER3_MOBILE.png">
      </div>
      <div class="image-banner-desktop">
          <img i18n-src="@@banner3Desktop" src="/../../../assets/images/BANNER3_DESKTOP.png">
      </div>
  </ngx-item>
  <ngx-item NgxCarouselItem>
      <div class="image-banner">
          <img i18n-src="@@banner4Mobile" src="/../../../assets/images/BANNER4_MOBILE.png">
      </div>
      <div class="image-banner-desktop">
          <img i18n-src="@@banner4Desktop" src="/../../../assets/images/BANNER4_DESKTOP.png">
      </div>
  </ngx-item>
  <button NgxCarouselPrev class='leftRs'>&lt;</button>
  <button NgxCarouselNext class='rightRs'>&gt;</button>
</ngx-carousel>
