<!-- (carouselLoad)="myfunc($event)" -->
<ngx-carousel [inputs]="carouselOne">
  <ngx-item NgxCarouselItem>
    <div class="image-banner">
        <img i18n-src="@@banner1Mobile" src="/../../../assets/images/banner_mobile1.png">
    </div>
    <div class="image-banner-desktop">
        <img i18n-src="@@banner1Desktop"
          src="/../../../assets/images/banner_desktop1.png">
    </div>
  </ngx-item>
  <ngx-item NgxCarouselItem>
      <div class="image-banner">
          <img i18n-src="@@banner2Mobile" src="/../../../assets/images/banner_mobile2.png">
      </div>
      <div class="image-banner-desktop">
          <img i18n-src="@@banner2Desktop" src="/../../../assets/images/banner_desktop2.png">
      </div>
  </ngx-item>
  <ngx-item NgxCarouselItem>
      <div class="image-banner">
          <img i18n-src="@@banner3Mobile" src="/../../../assets/images/banner_mobile3.png">
      </div>
      <div class="image-banner-desktop">
          <img i18n-src="@@banner3Desktop" src="/../../../assets/images/banner_desktop3.png">
      </div>
  </ngx-item>
  <ngx-item NgxCarouselItem>
      <div class="image-banner">
          <img i18n-src="@@banner4Mobile" src="/../../../assets/images/banner_mobile4.png">
      </div>
      <div class="image-banner-desktop">
          <img i18n-src="@@banner4Desktop" src="/../../../assets/images/banner_desktop4.png">
      </div>
  </ngx-item>
  <button NgxCarouselPrev class='leftRs'>&lt;</button>
  <button NgxCarouselNext class='rightRs'>&gt;</button>
</ngx-carousel>
