  .show-desktop {
    display: none;
  } //Hide mobile
  
  @media (min-width: 1024px) {
    .city {
      max-width: 1000px;
      margin-left: auto;
      margin-right: auto;
      position: relative;
      transition: margin-bottom 0.8s ease;
    }
    .image-medellin, 
    .image-armenia, 
    .image-manson {      
      background-size: cover;
      border-radius: 10px;
      height: 300px;
      margin-bottom: 50px;
      position: relative;
      z-index: 1;    
      width: 100%;
    }
    .image-medellin{
      background-image: url("/../../assets/images/medellin.jpg");
    } 
    .image-armenia {
      background-image: url("/../../assets/images/armenia.jpg");
    }
    .image-manson {
      background-image: url("/../../assets/images/manson.jpg");
    }

    .open-info {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100%;
    
      h2, p {
        margin: 0;
        padding: 3px 0;
      }  
    }    
    .info-city-copy {
      padding: 20px;
    }

    .show-desktop {
      display: block;
    } 
    .info-city {
      // display: flex;
      // max-height: 0;
      // transition: max-height 0.8s ease-out;
      transition: transform 0.8s;
      // overflow: hidden;
      z-index: 0;
      top: 0px;
      position: absolute;
      height: 300px;
      width: 80%;
      left: calc(50% - 400px);
      border-radius: 0 0 6px 6px;
      margin: 0 auto;
      color: #000;
      background: #fefefe;
    }
    .city:hover {
        margin-bottom: 200px;
        transition: margin-bottom 0.8s ease;
      .info-city {
        // max-height: 600px;
        transform: translateY(98%);
        
      }
      .image-medellin   {
        background-image: url("/../../assets/images/medellin-color.jpg");
        transition:  background-image 0.25s ease;
      }
    }
  }

  