<div class="show-desktop">
  <div class="city">
    <div class="{{info.class}}">
      <div class="open-info">
        <h1>{{info.cityTitle | uppercase}}</h1>
        <h2>{{info.country | uppercase}}</h2>
      </div>
    </div>
    <div class="info-city">
      <div class="info-city-copy">
        <h2>{{info.cityTitle | uppercase}}</h2>
        <h3>{{info.address}}</h3>
        <h3>{{info.place}}</h3>
        <h3>{{info.citySubtitle}}</h3>
        <h3>{{info.phone}}</h3>
      </div>
    </div>
  </div>
</div>
