<div class="show-desktop">
  <div class="city">
    <div class="image-medellin">
      <div class="open-info">
        <h1>MEDELLÍN</h1>
        <h2>COLOMBIA</h2>
      </div>
    </div>
    <div class="info-city">
      <div class="info-city-copy">
        <h2>MEDELLÍN</h2>
        <h3>Cra 48 # 20-34. Of. 1012 – 1014.</h3>
        <h3>Centro empresarial Ciudad del Río.</h3>
        <h3>Medellín, Antioquia.</h3>
        <h3>(+57) (4) 604 81 13</h3>
      </div>
    </div>
  </div>

  <div class="city">
    <div class="image-armenia">
      <div class="open-info">
        <h1>ARMENIA</h1>
        <h2>COLOMBIA</h2>
      </div>
    </div>
    <div class="info-city">
      <div class="info-city-copy">
        <h2>ARMENIA</h2>
        <h3>Cra 14 # 23 - 15.</h3>
        <h3>Camara de Comercio.</h3>
        <h3>Armenia, Quindio.</h3>
      </div>
    </div>
  </div>

  <div class="city">
    <div class="image-mason">
      <div class="open-info">
        <h1>MASON</h1>
        <h2>OHIO</h2>
      </div>
    </div>
    <div class="info-city">
      <div class="info-city-copy">
        <h2>MASON</h2>
        <h3>4393 Digital Way.</h3>
        <h3>Mason, OH. 45040</h3>
        <h3>(+1) 513 348 8265</h3>
      </div>
    </div>
  </div>
</div>
