<!--The content below is only a placeholder and can be replaced.-->
<!-- *ngFor="let banner of bannerInfo" -->
<div class="home-component">
  <app-nav-bar></app-nav-bar>
  <div mnFullpage  
  [mnFullpageNavigation]="true"
  [mnFullpageKeyboardScrolling]="true"
  [mnFullpageSlidesNavigation]="true"
  [mnFullpage]="fullPageOptions"
  [mnFullpageOnSlideLeave]="handle"
  >
    <section app-home-banner 
      [info]="bannersInfo[0]"
      class="section fp-section fp-table">
    </section >
    <section app-home-banner   
      [info]="bannersInfo[1]"
      class="section fp-section fp-table">
    </section >
    <section app-home-banner 
      [info]="bannersInfo[2]"
      class="section fp-section fp-table">
    </section >  
  </div>
 
  <section class="services-container">
    <h2>SERVICES</h2>      
    <app-services 
      *ngFor="let service of servicesInfo"
      [info]="service">
    </app-services>
  </section>
  
 
  <app-footer></app-footer>
</div>