@import '~styles/variables';
.home-component {
    text-align:center;
    background-color: $japaneseViolet;
    font-family: $fontFamilyPrimary;
    color: $white;  
} 

.services-container h2 {
    margin-top: 55px;
    margin-bottom: 0px;
}
.load-dot-container {
    margin-bottom: 55px;
}

.dot {
    width: 6px;
    height: 6px;
    border-radius: 100%;   
    display: inline-block;
    margin: 3px;
}

.load-dot-1 {
    background-color: #F45EFC;   
}

.load-dot-2 {
    background-color: #A153F9;   
}

.load-dot-3 {
    background-color: #3EA3F7;   
}

.load-dot-4 {
    background-color: #00FFF7;    
}

