<!--The content below is only a placeholder and can be replaced.-->
<!-- *ngFor="let banner of bannerInfo"  [mnFullpageAutoScrolling]="false"-->
<div class="home-component">
  <div mnFullpage
    [mnFullpageNavigation]="true"
    [mnFullpageKeyboardScrolling]="true"
    [mnFullpageSlidesNavigation]="true"
    [mnFullpageScrollOverflow]="true"
  >
    <section app-home-banner
      [info]="bannersInfo[0]"
      class="section fp-section fp-table">
    </section >
    <section app-home-banner
      [info]="bannersInfo[1]"
      class="section fp-section fp-table">
    </section >
    <section app-home-banner
      [info]="bannersInfo[2]"
      class="section fp-section fp-table">
    </section >

    <div class="section fp-section fp-table">
      <div class="fp-tableCell">
        <section content-container>
          <section class="home-content">
            <h1>SERVICES</h1>
            <div class="load-dot-container">
              <div class="dot load-dot-1"></div>
              <div class="dot load-dot-2"></div>
              <div class="dot load-dot-3"></div>
              <div class="dot load-dot-4"></div>
            </div>
            <section class="home-content-subsection">
              <app-services *ngFor="let service of servicesInfo" [info]="service">
              </app-services>
            </section>
          </section>
          <section class="home-content advantages-section">
            <h1>ADVANTAGES</h1>
            <div class="load-dot-container">
              <div class="dot load-dot-1"></div>
              <div class="dot load-dot-2"></div>
              <div class="dot load-dot-3"></div>
              <div class="dot load-dot-4"></div>
            </div>
            <section class="home-content-subsection">
              <app-advantages *ngFor="let advantage of advantagesInfo" [info]="advantage">
              </app-advantages>
            </section>
          </section>
        </section>
        <app-footer (switchOverlay)="openOverlay()"></app-footer>
      </div>
    </div>
  </div>
</div>
<app-get-in-touch
  [class.active]="showOverlay"
  (toggleGetInTouchOverlay)="closeOverlay()"
></app-get-in-touch>
