@import '~styles/variables';
footer {
    height: 125px;
    background: $rusianViolet;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: $white;
    position: relative;
    &:before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        height: 3px;
        width: 100%;
        background: linear-gradient(60deg, $fandango, $brightLilac, $mediumSlateBlue, $turquoiseBlue);
    }
}

.white-yuxi-logo {
    width: 40%;
}
.media {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;  

    p {
        height: 30px;
        border-right: 1px solid;
    }
}
.media-items {
   display: inline-block;
   margin-left: 16px;
   margin-top: 9px;
}
.media-icon {
    width: 35px;
    
}

.terms {
    font-family: $fontFamilySecondary;
    font-size: 0.5rem;
    margin: 5px;
    a {
        text-decoration: none;
        color: $white;
        margin: 5px;
    }
    
}

.in-touch{
    position: absolute;
    top: -27px;
    right: 20px;
    color: pink;
    border: 2px solid white;
    border-radius: 5px;   
    padding: 8px 0;
    background: $rusianViolet;
    width: 90px;
    p {
        margin: 0;
        color: $brightLilac;
        background: linear-gradient(90deg, $fandango, $brightLilac, $mediumSlateBlue, $turquoiseBlue);
        background-size: 80%;
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}
