@import '~styles/variables';
footer {
    height: 95px;
    background: $rusianViolet;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: $white;
}

.white-yuxi-logo {
    width: 40%;
}
.media {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;  

    p {
        height: 30px;
        border-right: 1px solid;
    }
}
.media-items {
   display: inline-block;
   margin-left: 20px;
}
.media-icon {
    width: 35px;
    
}

.terms {
    font-family: $fontFamilySecondary;
    font-size: 0.5rem;
    a {
        text-decoration: none;
        color: $white;
        margin: 5px;
    }
    
}

.in-touch{
    position: absolute;
    margin-top: -52px;
    color: pink;
    border: 2px solid white;
    border-radius: 9%;
    margin-left: 34%;
    padding: 2%;
    background: $rusianViolet;
}
