<footer>
  <article class="in-touch">
    <p>GET IN TOUCH</p>
  </article>
  <section class="media">
      <img class="white-yuxi-logo" src="assets/icons/YUXI_LOGO_WHITE.svg">
      <nav class="media-items">
        <a href="#"><img class="media-icon" src="assets/icons/twitter.svg"></a>
        <a href="#"><img class="media-icon" src="assets/icons/linkedin.svg"></a>
        <a href="#"><img class="media-icon" src="assets/icons/facebook.svg"></a>
        <a href="#"><img class="media-icon" src="assets/icons/instagram.svg"></a>
      </nav>
  </section>
  <nav class="terms">
    <a href="#">All rights reserved to Yuxi Global 2017</a>
    <a href="#">Terms</a>
    <a href="#">Privacy</a>
  </nav>
</footer>
