<footer>
  <p class="in-touch" (click)="openGetInTouch()">
    <a >GET IN TOUCH</a>
  </p>
  <section class="media">
      <img class="white-yuxi-logo" src="assets/icons/YUXI_LOGO_WHITE.svg">
      <nav class="media-items">
        <a target="_blank" href="https://twitter.com/YuxiGlobal"><img class="media-icon" src="assets/icons/twitter.svg"></a>
        <a target="_blank" href="https://co.linkedin.com/company/yuxi-pacific"><img class="media-icon" src="assets/icons/linkedin.svg"></a>
        <a target="_blank" href="https://www.facebook.com/yuxiglobal1"><img class="media-icon" src="assets/icons/facebook.svg"></a>
        <a target="_blank" href="https://www.instagram.com/yuxiglobal/"><img class="media-icon" src="assets/icons/instagram.svg"></a>
      </nav>
      <nav class="menu-items">
        <a href="#">Home</a>
        <a routerLink="/services">Services</a>
        <a href="#">Careers</a>
        <a href="#">Media</a>
        <a href="#">Contact</a>
      </nav>
  </section>
  <nav class="terms">
    <a href="#">All rights reserved to Yuxi Global 2017</a>
    <a href="#">Terms</a>
    <a href="#">Privacy</a>
  </nav>
</footer>