<nav
  id="navigation"
  class="container"
  appNavScrolling
  appAboveTheFold
  appScrollTop
  (mouseWheelUp)="mouseWheelUpFunc($event)"
  (mouseWheelDown)="mouseWheelDownFunc($event)"
  [class.hide]="hideNav"
  [class.menu-visible]="showOverlay"
>
  <a
    href="#"
    class="logo-wrapper"
    [class.hidden]="showOverlay"
  >
    <img id="logo-yuxi" class="yuxi-logo yuxi-logo--white" src="assets/icons/YUXI_LOGO_WHITE.svg">
    <img id="logo-yuxi" class="yuxi-logo yuxi-logo--color" src="assets/icons/YUXI_LOGO_COLOR.svg">
  </a>
  <div class="hot-stuff">
    <div class="hot-stuff-wrapper"
    [class.hidden]="showOverlay">
      <span id="hot-stuff-text" class="hot-stuff-text">
        h<span>o</span>t stuff
      </span>
      <div id="hot-stuff-button" class="hot-stuff-button">
        <span class="pulsating-circle"></span>
      </div>
    </div>
    <app-burger-menu (click)="handleMenuClick()"></app-burger-menu>
  </div>
</nav>
<div
  class="overlay"
  [ngClass]="{ active: showOverlay}"
>
  <app-menu *ngIf="showOverlay"></app-menu>
</div>
