<nav
  id="navigation"
  class="container"
  appNavScrolling
  [ngClass]="{ hide: hideNav }"
  (mouseWheelUp)="mouseWheelUpFunc($event)"
  (mouseWheelDown)="mouseWheelDownFunc($event)"
>
  <a
    href="#"
    class="logo-wrapper"
    [ngClass]="{ hidden: showOverlay }"
  >
    <img class="white-yuxi-logo" src="assets/icons/YUXI_LOGO_WHITE.svg">
  </a>
  <div class="hot-stuff">
    <div
      class="hot-stuff-wrapper"
      [ngClass]="{ hidden: showOverlay }"
    >
      <span id="hot-stuff-text" class="hot-stuff-text">
        h<span>o</span>t stuff
      </span>
      <div id="hot-stuff-button" class="hot-stuff-button">
        <span class="pulsating-circle"></span>
      </div>
    </div>
    <app-burger-menu (click)="handleMenuClick()"></app-burger-menu>
  </div>
</nav>
<div
  class="overlay"
  [ngClass]="{ active: showOverlay}"
>
  <app-menu></app-menu>
</div>
